{% extends "base_registro.html" %}
{% load tags_filters %}

{% block title %}Administrar Datos de Extensión Áulica{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}
{% css_classes "tabs-n-grid" %}
{% endblock %}

{% block content %}
<h2>Administrar Datos de Extensión Áulica - Turnos</h2>
<h3>{{ extension_aulica.cue }} - "{{ extension_aulica.nombre }}"</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "registro/extension_aulica/completar_datos_nav.html" %}
<div class="grid-wrapper">
{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
    <thead>
        <tr>
            <th>Turno</th>
            <th>Uso del Edificio</th>
            <th>Comparte con</th>
            <th>Niveles</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for extension_aulica_turno in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{{ extension_aulica_turno.turno.nombre }}</td>
                <td>{{ extension_aulica_turno.tipo_dominio.descripcion }}</td>
                <td>{{ extension_aulica_turno.tipo_compartido.descripcion }}</td>
                <td>{{ extension_aulica_turno.niveles.all|implode:", " }}</td>
                <td class="actions-td">
                    <ul>
                        <li class="edit"><a href="{% url apps.registro.views.extension_aulica_turno.edit extension_aulica_turno.id %}" title="Editar"><span>Editar</span></a></li>
                        <li class="delete"><a href="{% url apps.registro.views.extension_aulica_turno.delete extension_aulica_turno.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron turnos.</p>
</div>
{% endif %}
</div>

<ul class="actions">
{% if 'reg_extension_aulica_modificar' in credenciales %}
    <li class="create" style="margin-top: 30px">
        <a href="{% url apps.registro.views.extension_aulica_turno.create extension_aulica.id %}"><span>Nuevo Turno</span></a>
    </li>
    <li class="back">
        <a href="{% url apps.registro.views.extension_aulica.completar_datos_basicos extension_aulica.id %}"><span>Volver</span></a>
    </li>
{% endif %}
{% if 'reg_extension_aulica_verificar_datos' in credenciales %}
    <li class="datos-verificados">
        <label for="id_verificado">Datos Verificados:</label>
        <input type="checkbox" id ="id_verificado" {% if verificado %}checked="checked"{% endif %}/>
    </li>
{% endif %}
</ul>

<hr />


{% if 'reg_extension_aulica_verificar_datos' in credenciales %}
<script type="text/javascript">

var checkbox = $("#id_verificado");

$(document).ready(function() {
    checkbox.click(function(){
        extensionAulicaVerificarDato({{extension_aulica.id}}, 'turnos', checkbox.is(':checked'));
    });
});

</script>
{% endif %}
{% endblock %}
