{% extends "base_registro.html" %}

{% block title %}Completar Datos de Extensión Áulica{% endblock %}

{% block content %}
<h2>Completar Datos de Extensión Áulica - Nuevo turno</h2>
<h3>{{ extension_aulica.cue }} - "{{ extension_aulica.nombre }}"</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "registro/extension_aulica/turnos/form.html" %}

<ul class="actions">
  <li class="back">
    <a href="{% url apps.registro.views.extension_aulica_turno.index extension_aulica.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
