{% extends "base_seguridad.html" %}

{% block title %}Perfiles de Usuario{% endblock %}

{% block content %}
<h2>Perfiles de Usuario</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<div id="usuarioData">
    <h3>Usuario</h3>
    <p><strong>Tipo de Documento:</strong> {{ usuario.tipo_documento }}</p>
    <p><strong>Documento:</strong> {{ usuario.documento }}</p>
    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
</div>

<table id="perfilesUsuario" class="hor-zebra">
  <thead>
    <tr>
      <th>Rol</th>
      <th>Ambito</th>
      <th>Fecha Asignación</th>
      <th>Fecha Desasignación</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in perfiles %}
      <tr class="{% if p.fecha_desasignacion %}desasignado {% endif %}{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
        <td>{{p.rol}}</td>
        <td>{{p.ambito}}</td>
        <td>{{p.fecha_asignacion}}</td>
        <td>{% if p.fecha_desasignacion == None %} - {% else %} {{p.fecha_desasignacion}} {% endif %}</td>
        <td class="actions-td">
        {% if p.is_deletable and p.id != perfil_activo_id %}
          <ul>
            <li class="delete"><a href="{% url apps.seguridad.views.perfil.delete p.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
          </ul>
        {% endif %}
          {% if p.id == perfil_activo_id %}<span class="perfil-activo">Perfil Activo</span>{% endif %}
          {% if p.fecha_desasignacion %}<span class="perfil-desasignado">Eliminado</span>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="actions">
  <li class="create">
    <a href="{% url apps.seguridad.views.perfil.create usuario.id%}"><span>Asignar Nuevo Perfil</span></a>
  </li>
  <li class="back">
    <a href="{% url apps.seguridad.views.usuario.edit usuario.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
