{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block css_body_classes %}
{% css_classes "orientaciones-por-titulo" %}
{% endblock %}

{% block title %}Administrar orientaciones del título{% endblock %}
{% block content %}
<h2>Administrar orientaciones del título</h2>
{% include "titulos/titulo/datos_titulo.html" %}
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% if objects %}
{% include "counter.html" %}
<h3>Orientaciones</h3>
<table class="hor-zebra">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de alta</th>
      <th class="th-estados">Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for orientacion in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ orientacion.nombre }}</td>
	<td>{{ orientacion.fecha_alta|date:"d/m/Y" }}</td>
	<td>
	    <div class="estados">
	    {% for estado in orientacion.estados %}
		<p class="estado-{{ estado.estado.nombre|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
	    {% endfor %}
	    </div>
	</td>
        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'AdminTitulos' %}
		<li class="edit"><a href="{% url apps.titulos.views.orientacion.edit orientacion.id %}" title="Editar"><span>Editar</span></a></li>
		<li class="delete"><a href=" url apps.titulos.views.titulo.eliminar titulo.id %}" title="Eliminar"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>El título aún no tiene orientaciones.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'AdminTitulos' %}
    <li class="create">
	<a href="{% url apps.titulos.views.orientacion.create titulo.id %}"><span>Asignar orientación</span></a>
    </li>
    <li class="back">
	<a href="{% url apps.titulos.views.titulo.index %}"><span>Volver</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
