{% extends "base.html" %}

{% load tags_filters %}

{% block title %}Oferta Nacional de Carreras de Formación Docente {{ anio }}{% endblock %}
{% block css_body_classes %}{% css_classes "consulta-validez" %}{% endblock %}
{% block content %}
<h2>Oferta Nacional de Carreras de Formación Docente {{ anio }}</h2>

{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<form action="" method="get">
<div class="form-filter" id="oferta-nacional-filters">
    <h3>Búsqueda avanzada</h3>
    {{ form_filters.non_field_errors }}
    <div class="form-select">
		{{ form_filters.jurisdiccion.errors }}
		<label for="id_jurisdiccion">Jurisdicción:</label>
		{{ form_filters.jurisdiccion }}
    </div>
    <div class="form-text">
		{{ form_filters.cue.errors }}
		<label for="id_cue">CUE:</label>
		{{ form_filters.cue }}
    </div>
    <div class="form-select">
		{{ form_filters.establecimiento.errors }}
		<label for="id_establecimiento">Nombre del ISFD:</label>
		{{ form_filters.establecimiento }}
    </div>
    <div class="form-select">
		{{ form_filters.carrera.errors }}
		<label for="id_carrera">Carrera:</label>
		{{ form_filters.carrera }}
    </div>
    <div class="form-select">
		{{ form_filters.departamento.errors }}
		<label for="id_departamento">Departamento:</label>
		{{ form_filters.departamento }}
    </div>
    <div class="form-select">
		{{ form_filters.localidad.errors }}
		<label for="id_localidad">Localidad:</label>
		{{ form_filters.localidad }}
    </div>

    <div class="form-submit">
		<input type="submit" value="Buscar" />
		<input type="button" value="Reiniciar" onclick="window.location = '/oferta_nacional/{{ anio }}';" />
    </div>
</div>

{% if objects %}
{% include "counter.html" %}
<ul class="reportes-actions">
    <li class="export-csv">
	<a href="{{ export_url }}" title="Exportar resultado en formato CSV"><span>Exportar Resultado</span></a>
    </li>
</ul>
<table class="hor-zebra">
    <thead>
        <tr>
            <th>Jurisdicción</th>
            <th>CUE - Nombre del ISFD</th>
            <th>Carrera</th>
            <th>Domicilio</th>
            <th>Contacto</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{{ obj.establecimiento.dependencia_funcional.jurisdiccion }}</td>
                <td>{{ obj.establecimiento.cue }} - {{ obj.establecimiento.nombre }}</td>
                <td>{{ obj.cohorte.carrera_jurisdiccional.carrera }}</td>
                <td>
					<ul>
						<li><strong>Domicilio:</strong> {{ obj.establecimiento.get_domicilio_institucional }}</li>
						<li><strong>Departamento:</strong> {{ obj.establecimiento.get_domicilio_institucional.localidad.departamento }}</li>
						<li><strong>Localidad:</strong> {{ obj.establecimiento.get_domicilio_institucional.localidad }}</li>
					</ul>
				</td>
                <td>
					<ul>
						<li><strong>Email:</strong> {{ obj.establecimiento.email|default:"---" }}</li>
						<li><strong>Sitio Web:</strong> {{ obj.establecimiento.sitio_web|default:"---" }}</li>
					</ul>
				</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron títulos.</p>
</div>
{% endif %}
<hr />

<script type="text/javascript">

$(document).ready(function(){
		
	// Init	
	var dropdown_jurisdiccion = $("select#id_jurisdiccion");
	var dropdown_establecimiento = $("select#id_establecimiento");
	var dropdown_carrera = $("select#id_carrera");

	var current_jur = dropdown_jurisdiccion.val();
	var current_est = dropdown_establecimiento.val();
	var current_carrera = dropdown_carrera.val();
	
		
	if(dropdown_jurisdiccion.val() > 0){
		jurisdiccion_change(dropdown_jurisdiccion.val());
	}
	if(dropdown_establecimiento.val() > 0){
		establecimiento_change(dropdown_establecimiento.val());
	}
	//
	dropdown_jurisdiccion.change(function(){
		jurisdiccion_change($(this).val());
		first_load = false;
	}); // END function
    dropdown_establecimiento.change(function(){
		establecimiento_change($(this).val());
		first_load = false;
	}); // END function

	function jurisdiccion_change(val){
		// Unidades educativas
		var url = "/oferta_nacional/ajax/get_establecimientos_por_jurisdiccion/" + val;
		$.getJSON(url, function(data){
			var options = '<option value="">---------</option>';
			for(var i = 0; i < data.length; i++){
				options += '<option value="' + data[i].pk + '">' + data[i].establecimiento + '</option>';
			}
			dropdown_establecimiento.html(options);
		});

		// 	Carreras
		var url = "/oferta_nacional/ajax/get_carreras_por_jurisdiccion/" + val;
		$.getJSON(url, function(data){
			var options = '<option value="">---------</option>';
			for(var i = 0; i < data.length; i++){
				options += '<option value="' + data[i].pk + '">' + data[i].carrera + '</option>';
			}
			dropdown_carrera.html(options);
		});
	}

	function establecimiento_change(val){
		// 	Carreras
		var url = "/oferta_nacional/ajax/get_carreras_por_establecimiento/" + val;
		$.getJSON(url, function(data){
			var options = '<option value="">---------</option>';
			for(var i = 0; i < data.length; i++){
				options += '<option value="' + data[i].pk + '">' + data[i].carrera + '</option>';
			}
			dropdown_carrera.html(options);
		});
	}

}); // END document.ready
</script>

{% endblock %}
