<div class="form tabbed-form" id="cohorteSeguimientoDatosBasicosForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.anio.errors }}
			<label for="id_anio">Año:</label>
			{{ form.anio }}
		</div>
		<div class="form-text">
			{{ form.solo_cursan_nuevas_unidades.errors }}
			<label for="id_solo_cursan_nuevas_unidades">Sólo Cursaron Nuevas Unidades:</label>
			{{ form.solo_cursan_nuevas_unidades }}
		</div>
		<div class="form-text">
			{{ form.solo_recursan_nuevas_unidades.errors }}
			<label for="id_solo_recursan_nuevas_unidades">Sólo Recursaron Nuevas Unidades:</label>
			{{ form.solo_recursan_nuevas_unidades }}
		</div>
		<div class="form-text">
			{{ form.recursan_cursan_nuevas_unidades.errors }}
			<label for="id_recursan_cursan_nuevas_unidades">Recursaron Unidades y Cursaron Nuevas:</label>
			{{ form.recursan_cursan_nuevas_unidades }}
		</div>
		<div class="form-text">
			{{ form.no_cursan.errors }}
			<label for="id_no_cursan">No cursan:</label>
			{{ form.no_cursan }}
		</div>
		<div class="form-text">
			{{ form.egresados.errors }}
			<label for="id_egresados">Egresados en el Año:</label>
			{{ form.egresados }}
		</div>
		<div class="form-textarea">
			{{ form.observaciones.errors }}
			<label for="id_observaciones">Observaciones:</label>
			{{ form.observaciones }}
		</div>
		{% if tipo_unidad_educativa == 'establecimiento' %}
		{{ form.cohorte_establecimiento.as_hidden }}
		{% endif %}
		{% if tipo_unidad_educativa == 'anexo' %}
		{{ form.cohorte_anexo.as_hidden }}
		{% endif %}
		{% if tipo_unidad_educativa == 'extension_aulica' %}
		{{ form.cohorte_extension_aulica.as_hidden }}
		{% endif %}
		<div class="form-submit">
			<input type="submit" value="Guardar" />
		</div>
	</form>
</div>
