{% extends "base_titulos.html" %}

{% block title %}Edición Manual de Validez Nacional{% endblock %}

{% block content %}
<h2>Edición Manual de Validez Nacional</h2>
<h3>{{ page_title }}</h3>
<div class="message warning">
	<p>No modifique los datos de validez nacional manualmente a menos que sea absolutamente necesario. Verifique claramente que los datos sean los correctos y tenga en cuenta que los cambios se verán reflejados en forma pública y generará un cambio significativo para los referentes jurisdiccionales e institucionales.</p>
</div>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}


<div class="datos-lectura" id="datosValidez">
	<p><strong>Jurisdicción:</strong> {{ validez.get_jurisdiccion.nombre }}</p>
</div>

<div class="form" id="validezForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<input type="hidden" id="id_validez" name="id_validez" value="{{ validez.id }}" />
		<div class="form-text">
			{{ form.cue.errors }}
			<label for="id_cue">CUE:</label>
			{{ form.cue }}
		</div>
		<div class="form-text">
			{{ form.carrera_postitulo.errors }}
			<label for="id_carrera_postitulo">Carrera:</label>
			{{ form.carrera_postitulo }}
		</div>
		<div class="form-text">
			{{ form.postitulo_nacional.errors }}
			<label for="id_postitulo_nacional">Postítulo Nacional:</label>
			{{ form.postitulo_nacional }}
		</div>
		<div class="form-text">
			{{ form.primera_cohorte.errors }}
			<label for="id_primera_cohorte">Primera Cohorte Autorizada:</label>
			{{ form.primera_cohorte }}
		</div>
		<div class="form-text">
			{{ form.ultima_cohorte.errors }}
			<label for="id_ultima_cohorte">Última Cohorte Autorizada:</label>
			{{ form.ultima_cohorte }}
		</div>
		<div class="form-text">
			{{ form.normativa_postitulo_jurisdiccional.errors }}
			<label for="id_normativa_postitulo_jurisdiccional">Normativa Aprobación Plan:</label>
			{{ form.normativa_postitulo_jurisdiccional }}
		</div>
		<div class="form-text">
			{{ form.normativas_postitulo.errors }}
			<label for="id_normativas_postitulo">Normativa Nacional:</label>
			{{ form.normativas_postitulo }}
		</div>
		<div class="form-text">
			{{ form.nro_infd.errors }}
			<label for="id_nro_infd">Nro. INFD.:</label>
			{{ form.nro_infd }}
		</div>
		<div class="form-submit">
			<input type="button" value="Actualizar" id="form-submit" />
		</div>
	</form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url apps.validez_nacional.views.validez.index %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
<script type="text/javascript">
$(document).ready(function(){
	// Se envía el formulario después de chequear si el nro infd está repetido (pidiendo confirmación del usuario)
	$('#form-submit').click(function(){
		$.ajax({
			url: "/validez_nacional/ajax/chequear_nro_infd/"+$('#id_validez').val()+"/"+$('#id_nro_infd').val(),
			dataType: 'json',
			success: function(infd_repetido){
				if(infd_repetido){
					confirmar_repetido = confirm('Tenga en cuenta que ya existe otro registro con el mismo Nro. INFD en el sistema. ¿Está seguro que desea guardar el registro?');
					if(confirmar_repetido){  // El usuario confirma, enviar el form
						$('div#validezForm form').submit();
					} else {
						// Cancelado...
					}
				} else { // No está repetido, enviar el form
					$('div#validezForm form').submit();
				}
			} // END success
		}); // END ajax
	}); // END click
}); // END ready function
</script>
{% endblock %}
