{% extends "base_registro.html" %}

{% block title %}Completar Datos de Sede{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}
{% css_classes "tabs-n-grid" %}
{% endblock %}

{% block content %}
<h2>Completar Datos de Sede - Autoridades</h2>
<h3>{{ establecimiento.cue }} - "{{ establecimiento.nombre }}"</h3>
{% if 'reg_establecimiento_completar' in credenciales %}
<ul class="actions">
    <li class="create">
        <a href="{% url apps.registro.views.establecimiento_autoridad.create establecimiento.id %}"><span>Nueva Autoridad</span></a>
    </li>
</ul>
{% endif %}

{% if flash %}
    {% include "flashes.html" %}
{% endif %}
{% if not establecimiento.get_verificacion_datos.completo %}
<div class="message warning">
	<p>Las solapas cuyos datos todavía no han sido verificados se verán en color rojo. Por favor, verifique los datos.</p>
</div>
{% endif %}
{% include "registro/establecimiento/completar_datos_nav.html" %}
<div class="grid-wrapper">
{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
    <thead>
        <tr>
            <th>Cargo</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for aut in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{{ aut.cargo }}</td>
                <td>{{ aut.apellido }}</td>
                <td>{{ aut.nombre }}</td>
                <td>{% if aut.tipo_documento %}{{ aut.tipo_documento.abreviatura }}:{% endif %} {% if aut.documento %}{{ aut.documento }}{% else %}---{% endif %} </td>
                <td class="actions-td">
                    <ul>
                        {% if 'reg_establecimiento_completar' in credenciales %}
                            <li class="edit"><a href="{% url apps.registro.views.establecimiento_autoridad.edit aut.id %}" title="Editar"><span>Editar</span></a></li>
                            <li class="delete"><a href="{% url apps.registro.views.establecimiento_autoridad.delete aut.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron autoridades.</p>
</div>
{% endif %}

{% include "registro/establecimiento/form_verificacion_datos.html" %}

</div>
<ul class="actions">
    <li class="back">
        <a href="{% url apps.registro.views.establecimiento.completar_datos_basicos establecimiento.id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
