<div class="form tabbed-form" id="tituloJurisdiccionalOrientacionesForm">
	{% if titulo_jurisdiccional %}
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-checkbox-list">
			{{ form.orientaciones.errors }}
			<hr />
			{{ form.orientaciones }}
			<hr />
		</div>
		<div class="form-submit">
			<input type="submit" value="Guardar" />
		</div>
	</form>
	{% else %}
	<form action="">
		<div class="message">
			<p>Debe guardar los datos básicos antes de poder editar las orientaciones.</p>
		</div>
	</form>
	{% endif %}

</div>
