{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar títulos jurisdiccionales{% endblock %}

{% block content %}
<h2>Administrar títulos jurisdiccionales</h2>
<form action="" method="get">
<div class="form-filter" id="tituloJurisdiccionalFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.tipo_titulo.errors }}
			<label for="id_tipo_titulo">Tipo de título:</label>
			{{ form_filters.tipo_titulo }}
		</div>
		<div class="form-select">
			{{ form_filters.carrera.errors }}
			<label for="id_carrera">Carrera:</label>
			{{ form_filters.carrera }}
		</div>
		<div class="form-select">
			{{ form_filters.estado.errors }}
			<label for="id_estado">Estado:</label>
			{{ form_filters.estado }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'titulo_jurisdiccional';" />
		</div>

</div>

{% if objects %}
<table class="hor-zebra">
  <thead>

    <tr>
      <th>Título nacional</th>
      <th>Tipo de título</th>
      <th>Carrera</th>
      <th class="th-estados">Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for titulo_jurisdiccional in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ titulo_jurisdiccional.titulo }}</td>
	<td>{{ titulo_jurisdiccional.tipo_titulo }}</td>
	<td>{{ titulo_jurisdiccional.titulo.carrera }}</td>
	<td>
	    <div class="estados">
	    {% for estado in titulo_jurisdiccional.estados %}
		<p class="estado-{{ estado.estado.nombre|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
	    {% endfor %}
	    </div>
	</td>
        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'Referente' %}
		<li class="edit"><a href="{% url apps.titulos.views.titulo_jurisdiccional.edit titulo_jurisdiccional.id %}" title="Editar"><span>Editar</span></a></li>
		<li class="orientaciones"><a href="{% url apps.titulos.views.titulo_jurisdiccional.orientaciones_por_titulo titulo_jurisdiccional.id %}" title="Orientaciones"><span>Orientaciones</span></a></li>
		<li class="delete"><a href="{ url apps.titulos.views.titulo.eliminar titulo.id %}" title="Eliminar"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron títulos.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'Referente' %}
    <li class="create">
	<a href="{% url apps.titulos.views.titulo_jurisdiccional.create %}"><span>Nuevo título</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
