{% extends "base_titulos.html" %}

{% block title %}Alta de título jurisdiccional{% endblock %}

{% block content %}
<h2>Alta de título jurisdiccional</h2>
<h3>{{ page_title }}</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "titulos/titulo_jurisdiccional/completar_datos_nav.html" %}

{% if form_template %}
{% include form_template %}
{% endif %}

<ul class="actions">
  <li class="back">
    <a href="{% url apps.titulos.views.titulo_jurisdiccional.index %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
