{% extends "base_registro.html" %}

{% block title %}Administrar Datos de Anexo{% endblock %}

{% block content %}
<h2>Administrar Datos de Anexo - {{ page_title }}</h2>
<h3>{{ anexo.cue }} - "{{ anexo.nombre }}"</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "registro/anexo/completar_datos_nav.html" %}

{% if form_template %}
{% include form_template %}
{% endif %}
<ul class="actions">
    <li class="back">
	<a href="{% url apps.registro.views.anexo.index %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
