<div id="establecimientoCompletarDatosNav" class="tab-nav">
	<ul>
{% if configuracion_solapas.datos_basicos %}
		<li{% if actual_page == 'datos_basicos' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_datos_basicos anexo.id %}" title="Datos básicos"><span>Datos básicos</span></a></li>
{% endif %}
{% if anexo.registrado %}
  {% if configuracion_solapas.contacto %}
		  <li{% if actual_page == 'contacto' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_contacto anexo.id %}" title="Contacto"><span>Contacto</span></a></li>
  {% endif %}
  {% if configuracion_solapas.alcances %}
		  <li{% if actual_page == 'alcances' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_alcances anexo.id %}" title="Alcance"><span>Alcance</span></a></li>
  {% endif %}
  {% if configuracion_solapas.turnos %}
		  <li{% if actual_page == 'turnos' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo_turno.index anexo.id %}" title="Turnos"><span>Turnos</span></a></li>
  {% endif %}
  {% if configuracion_solapas.funciones %}
		  <li{% if actual_page == 'funciones' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_funciones anexo.id %}" title="Funciones"><span>Funciones</span></a></li>
  {% endif %}
  {% if configuracion_solapas.domicilio %}
		  <li{% if actual_page == 'domicilio' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo_domicilio.index anexo.id %}" title="Domicilios"><span>Domicilios</span></a></li>
  {% endif %}
  {% if configuracion_solapas.autoridad %}
		  <li{% if actual_page == 'autoridad' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo_autoridad.index anexo.id %}" title="Autoridades"><span>Autoridades</span></a></li>
  {% endif %}
  {% if configuracion_solapas.informacion_edilicia %}
      <li{% if actual_page == 'informacion_edilicia' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_informacion_edilicia anexo.id %}" title="Información edilicia"><span>Info. edilicia</span></a></li>
  {% endif %}
  {% if configuracion_solapas.conexion_internet %}
		  <li{% if actual_page == 'conexion_internet' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_conexion_internet anexo.id %}" title="Conectividad"><span>Conectividad</span></a></li>
  {% endif %}
  {% if configuracion_solapas.matricula %}
		  <li{% if actual_page == 'matricula' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo_matricula.index anexo.id %}" title="Matrícula"><span>Matrícula</span></a></li>
  {% endif %}

{% endif %}
	</ul>
</div>
