<div id="establecimientoCompletarDatosNav" class="tab-nav">
	<ul>
		<li{% if actual_page == 'datos_basicos' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_datos_basicos %}" title="Datos básicos"><span>Datos básicos</span></a></li>
		<li{% if actual_page == 'turnos' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_turnos %}" title="Turnos"><span>Turnos</span></a></li>
		<li{% if actual_page == 'domicilio' %} class="active"{% endif %}><a href="{% url apps.registro.views.anexo.completar_domicilio %}" title="Domicilio"><span>Domicilio</span></a></li>
	</ul>
</div>
