<div class="form tabbed-form" id="anexoForm">
    <form action="" method="post">{% csrf_token %}
    {% if anexo %}
    <h4>Depende de la Sede del: {{ anexo.establecimiento }}</h4>
    <h4>CUE: {{ anexo.cue }}{% if 'registro_modificar_cue' in credenciales %} <a href="{% url apps.registro.views.anexo.modificar_cue anexo.id %}"><span>(Modificar)</span></a>{% endif %}</h4>
    <h4>Fecha de Solicitud de Registro: {{ anexo.get_fecha_solicitud }}</h4>
    {% else %}
    <h4>Fecha de solicitud de registro: {% now "d/m/Y" %}</h4>
    {% endif %}
    {{ form.non_field_errors }}
    <div class="form-text">
        {{ form.nombre.errors }}
        <label for="id_nombre">Nombre:</label>
        {{ form.nombre }}
    </div>
    <div class="form-select">
        {{ form.subsidio.errors }}
        <label for="id_subsidio">¿Posee Subsidio?:</label>
        {{ form.subsidio }}
    </div>
    <div class="form-text">
        {{ form.anio_creacion.errors }}
        <label for="id_anio_creacion">Año de Creación:</label>
        {{ form.anio_creacion }}
    </div>
    <div class="form-select">
        {{ form.tipo_normativa.errors }}
        <label for="id_tipo_normativa">Origen de la Norma:</label>
        {{ form.tipo_normativa }}
    </div>
    <div class="form-select" style="margin-top: 20px;">
        {{ form.tipo_norma.errors }}
        {{ form.tipo_norma_otra.errors }}
        <label for="id_tipo_norma_creacion">Tipo de Norma:</label>
        {{ form.tipo_norma }}
        {{ form.tipo_norma_otra }}
    </div>
    <div class="form-text">
        {{ form.norma_creacion.errors }}
        <label for="id_norma_creacion">Número de la Norma:</label>
        {{ form.norma_creacion }}
    </div>
	<div class="form-select">
	    {{ form.posee_centro_estudiantes.errors }}
	    <label for="id_posee_centro_estudiantes">¿Hay centro de estudiantes en la institución?</label>
	    {{ form.posee_centro_estudiantes }}
	</div>
	<div class="form-select" style="margin-top: 20px;">
	    {{ form.posee_representantes_estudiantiles.errors }}
	    <label for="id_posee_representantes_estudiantiles">¿Hay representantes estudiantiles en órgano colegiado de la institución?</label>
	    {{ form.posee_representantes_estudiantiles }}
	</div>
	<div class="form-textarea" style="margin-top: 50px;">
	    {{ form.observaciones.errors }}
	    <label for="id_observaciones">Observaciones:</label>
	    {{ form.observaciones }}
	</div>
    {% if 'reg_anexo_verificar_datos' in credenciales %}
    <div class="form-checkbox datos-verificados">
        <label for="id_verificado">Datos Verificados:</label>
        {{ form.verificado }}
    </div>
    {% endif %}
    {% if 'reg_anexo_completar' in credenciales or 'reg_anexo_alta' in credenciales %}
    <div class="form-submit">
    {% if anexo %}
        <input type="submit" value="Actualizar" />
    {% else %}
        <input type="submit" value="Enviar Solicitud" />
    {% endif %}
    </div>
    {% endif %}
    </form>
</div>

<script type="text/javascript">
function switch_subsidio(tipo_gestion){
    // No se puede deshabilitar el select porque no envía el valor y este es requerido
    // http://www.devcha.com/2008/02/readonly-attribute-to-dropdown-menu.html?showComment=1295534752678#c1119274142645841499
    if(tipo_gestion == 'Estatal'){
        $('select#id_subsidio').val(1);
        //$('select#id_subsidio').attr('disabled', 'disabled');
        $("select#id_subsidio option").not(":selected").attr("disabled", "disabled");
    } else if(tipo_gestion == 'Privada'){
        $('select#id_subsidio').val(6);
        $("select#id_subsidio option").not(":selected").removeAttr("disabled");
    } else {
        //$('select#id_subsidio').removeAttr('disabled');
        $("select#id_subsidio option").not(":selected").removeAttr("disabled");
    }
}
// Init
$(document).ready(function(){
    // Norma de creación
    dropdown_tipo_norma = $('select#id_tipo_norma');
    tipo_norma_val = $('select#id_tipo_norma option:selected').text();
    tipo_norma_otra_input = $('input#id_tipo_norma_otra');
    
    otra = tipo_norma_val == 'Otra';

    if(otra){
        tipo_norma_otra_input.show();
    } else {
        tipo_norma_otra_input.val("");
        tipo_norma_otra_input.hide();
    }
    
    dropdown_tipo_norma.change(function(){
        tipo_norma_val = $('select#id_tipo_norma option:selected').text();
        if(tipo_norma_val == 'Otra'){
            tipo_norma_otra_input.show();
        } else {
            tipo_norma_otra_input.val("");
            tipo_norma_otra_input.hide();
        }
    });
    
    // Subsidio
    dropdown_subsidio = $('select#id_subsidio');
    //dropdown_sede.change();
     
}); // END document.ready
</script>
