<div class="form tabbed-form" id="anexoForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-checkbox">
			{{ form.tiene_conexion.errors }}
			<label for="tiene_conexion">¿Tiene Conexión?:</label>
			{{ form.tiene_conexion }}
		</div>
		<div class="form-select">
			{{ form.tipo_conexion.errors }}
			<label for="id_tipo_conexion">Tipo de Conexión:</label>
			{{ form.tipo_conexion }}
		</div>
		<div class="form-text">
			{{ form.proveedor.errors }}
			<label for="proveedor">Proveedor:</label>
			{{ form.proveedor }}
		</div>
		<div class="form-text">
			{{ form.costo.errors }}
			<label for="costo">Costo Mensual:</label>
			{{ form.costo }}
		</div>
		<div class="form-text">
			{{ form.cantidad.errors }}
			<p class="help-text">Cantidad de Máquinas que Comparten la Conexión</p>
			<label for="cantidad">Cantidad:</label>
			{{ form.cantidad }}
		</div>
        {% if 'reg_anexo_verificar_datos' in credenciales %}
        <div class="form-checkbox datos-verificados">
            <label for="id_verificado">Datos Verificados:</label>
            {{ form.verificado }}
        </div>
        {% endif %}
	    {% if 'reg_anexo_completar' in credenciales %}
		<div class="form-submit">
			<input type="submit" value="Actualizar" />
		</div>
        {% endif %}
	</form>
</div>

<script type="text/javascript">
var checkbox_conexion = $("#id_tiene_conexion");
var input_tipo_conexion = $("#id_tipo_conexion");
var input_proveedor = $("input#id_proveedor");
var input_costo = $("input#id_costo");
var input_cantidad = $("input#id_cantidad");

function updateInputs()
{
  input_tipo_conexion.attr('disabled', !checkbox_conexion.is(':checked'));
  input_proveedor.attr('disabled', !checkbox_conexion.is(':checked'));
  input_costo.attr('disabled', !checkbox_conexion.is(':checked'));
  input_cantidad.attr('disabled', !checkbox_conexion.is(':checked'));
}

$(document).ready(
    function(){
		//
		updateInputs();
		checkbox_conexion.click(function(){
			updateInputs();
		});
	}
); // END document.ready

</script>
