{% extends "base_registro.html" %}

{% block title %}Administrar anexos{% endblock %}

{% block content %}
<h2>Administrar anexos</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<form action="" method="get">
<div class="form-filter" id="anexoFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.establecimiento.errors }}
			<label for="id_establecimiento">Establecimiento:</label>
			{{ form_filters.establecimiento }}
		</div>
		<div class="form-text">
			{{ form_filters.cue.errors }}
			<label for="id_cue">CUE:</label>
			{{ form_filters.cue }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'anexo';" />
		</div>

</div>

{% if objects %}
{% include "counter.html" %}
<ul class="reportes-actions">
    <li class="export-csv">
	<a href="{{ export_url }}" title="Exportar resultado en formato CSV"><span>Exportar resultado</span></a>
    </li>
</ul>
<table class="hor-zebra">
  <thead>
    <tr>
      <th id="thCueAnexo">CUE</th>
      <th>Nombre</th>
      <th>Fecha de alta</th>
      <th>Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for anexo in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ anexo.cue }}</td>
        <td>{{ anexo.nombre }}</td>
		<td>{% if anexo.fecha_alta == None %}---{% else %}{{ anexo.fecha_alta|date:"d/m/Y" }}{% endif %}</td>
		<td>
		    <div class="estados">
		    {% for estado in anexo.estados %}
			<p class="estado-{{ estado|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
		    {% endfor %}
		</div>
		</td>
        <td class="actions-td">
          <ul>
	    {% if not anexo.dadoDeBaja %}
            <li class="edit"><a href="{% url apps.registro.views.anexo.edit anexo.id %}" title="Editar"><span>Editar</span></a></li>
            <li class="delete"><a href="{% url apps.registro.views.anexo.baja anexo.id %}" alt="Eliminar" title="Eliminar" onclick="return confirm('Está seguro de dar de baja al anexo?\nEsta acción no puede deshacerse.');"><span>Eliminar</span></a></li>
	    {% endif %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron anexos.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'ReferenteInstitucional' %}
    <li class="create">
	<a href="{% url apps.registro.views.anexo.create %}"><span>Nuevo anexo</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
