<div class="form tabbed-form" id="establecimientoVer">
	<div class="ver-dato">
	    <p><strong>Teléfono Institucional:</strong> {{ anexo.telefono|default:"---" }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Interno:</strong> {{ anexo.interno|default:"---" }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Número de Fax:</strong> {{ anexo.fax|default:"---" }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Email Institucional:</strong> {{ anexo.email|default:"---" }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Sitio Web:</strong> {{ anexo.sitio_web|default:"---" }}</p>
	</div>
    {% if 'reg_anexo_verificar_datos' in credenciales %}
    <div class="ver-dato datos-verificados">
        <p><strong>Datos Verificados:</strong> {% if anexo.verificado %}Sí{% else %}No{% endif %}</p>
    </div>
    {% endif %}

</div>

<div class="grid-wrapper">
    <h3>Autoridades</h3>
{% if autoridades %}
	{% include "counter.html" %}
		<table class="hor-zebra">
			<thead>
				<tr>
					<th>Cargo</th>
					<th>Apellido</th>
					<th>Nombre</th>
					<th>Documento</th>
				</tr>
			</thead>
			<tbody>
				{% for aut in autoridades %}
					<tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
						<td>{{ aut.cargo }}</td>
						<td>{{ aut.apellido }}</td>
						<td>{{ aut.nombre }}</td>
						<td>{% if aut.tipo_documento %}{{ aut.tipo_documento.abreviatura }}:{% endif %} {% if aut.documento %}{{ aut.documento }}{% else %}---{% endif %} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<div class="message notice">
		<p>No se encontraron autoridades.</p>
	</div>
	{% endif %}
</div>
