<div id="mainNav">
    <ul class="sf-menu">
		<li><a href="{% url apps.seguridad.views.index %}"><span>FRONTEND</span></a></li>
	{% if 'seg_backend' in credenciales %}
		<li><a href="{% url apps.backend.views.index %}"><span>Solapas</span></a>
			<ul style="width: 250px;">
			  <li><a href="{% url apps.backend.views.configurar_solapas_establecimiento %}"><span>Solapas de Establecimientos</span></a></li>
			  <li><a href="{% url apps.backend.views.configurar_solapas_anexo %}"><span>Solapas de Anexos</span></a></li>
			  <li><a href="{% url apps.backend.views.configurar_solapas_extension_aulica %}"><span>Solapas de Extensiones Áulicas</span></a></li>
			</ul>
		</li>

		<li><a href="{% url apps.backend.views.index %}"><span>ABMs</span></a>
			<ul style="width: 250px;">
			  <li><a href="{% url apps.backend.views.crud.index 'autoridad_cargo' %}"><span>Cargos de Autoridades</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'jurisdiccion' %}"><span>Jurisdicciones</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'departamento' %}"><span>Departamentos</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'localidad' %}"><span>Localidades</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_gestion' %}"><span>Tipos de Gestión</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_subsidio' %}"><span>Tipos de Subsidio</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'origen_norma' %}"><span>Origenes de Norma</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_norma' %}"><span>Tipos de Norma</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_domicilio' %}"><span>Tipos de Domicilio</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_compartido' %}"><span>Tipos de Compartición Edilicia</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_conexion' %}"><span>Tipos de Conexión</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_dependencia_funcional' %}"><span>Tipos Dep. Func.</span></a></li>
			  <li><a href="{% url apps.backend.views.crud.index 'tipo_titulo' %}"><span>Tipos de Título</span></a></li>
			</ul>
		</li>
	{% endif %}
    </ul>
</div>
