<div id="mainNav">
    <ul class="sf-menu">
	{% if 'seg_backend' in credenciales %}
		<li><a href="{% url apps.backend.views.index %}">Backend</a>
    <ul style="width: 250px;">
      <li><a href="{% url apps.backend.views.configurar_solapas_establecimiento %}">Solapas de Establecimientos</a></li>
      <li><a href="{% url apps.backend.views.configurar_solapas_anexo %}">Solapas de Anexos</a></li>
      <li><a href="{% url apps.backend.views.configurar_solapas_extension_aulica %}">Solapas de Extensiones Áulicas</a></li>
    </ul>
    </li>
	{% endif %}
    </ul>
</div>
