{% extends "base_registro.html" %}

{% block title %}Certificación de fin de carga {{ anio }} de la Extensión Áulica{% endblock %}

{% block content %}
<h2>Certificación de fin de carga {{ anio }} de la Extensión Áulica</h2>
<div class="datos-lectura">
	<p><strong>Extension Áulica:</strong> {{ extension_aulica.cue }} - {{ extension_aulica.nombre }}</p>
</div>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% if puede_certificar_carga %}
<div class="message warning">
    <p>Una vez certificada la carga del año no se puede volver atrás.</p>
</div>
<div class="form" id="certificarCargaForm">
    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="anexo_id" value="{{ anexo.id }}" />
        <div class="form-submit">
            <input type="submit" value="Confirmar" />
        </div>
    </form>
</div>
{% else %}
<div class="message warning">
    <p>No se puede certificar la carga. Compruebe que tiene el seguimiento de cohorte cargado para el año {{ anio }},
    que cargó la matrícula de ese año y también cargó los datos democratización de la extensión áulica.</p>
</div>
{% endif %}
<hr />
<ul class="actions">
  <li class="back">
    <a href="{% url apps.registro.views.certificacion_carga.index anio %}"><span>Volver</span></a>
  </li>
</ul>
{% endblock %}
