{% extends "base_seguridad.html" %}

{% block title %}Bloquear Usuario{% endblock %}

{% block content %}
<h2>Bloquear Usuario</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<div class="form" id="bloquearUsuarioForm" onsubmit="return confirm('Está seguro que desea bloquear al usuario ?');">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div>
			<label>Tipo de Documento:</label>
      {{ usuario.tipo_documento.descripcion }}
		</div>
		<div>
			<label>Documento:</label>
      {{ usuario.documento }}
		</div>
		<div>
			<label>Apellido:</label>
      {{ usuario.apellido }}
		</div>
		<div>
			<label>Nombre:</label>
      {{ usuario.nombre }}
		</div>
		<div class="form-select">
			{{ form.motivo.errors }}
			<label for="id_motivo">Motivo:</label>
			{{ form.motivo }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Bloquear" />
		</div>
	</form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url apps.seguridad.views.usuario.edit usuario.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
