{% extends "base_seguridad.html" %}

{% block title %}Modificar contraseña de usuario{% endblock %}

{% block content %}
<h2>Modificar contraseña de usuario</h2>
{% if flash %}
	{% include "flashes.html" %}
{% endif %}
<div class="form" id="usuarioChangePassword">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-text">
			<label>Documento:</label>
      {{ usuario.tipo_documento.abreviatura }}-{{ usuario.documento }}
		</div>
		<div class="form-text">
			<label>Apellido:</label>
      {{ usuario.apellido }}
		</div>
		<div class="form-text">
			<label>Nombre:</label>
      {{ usuario.nombre }}
		</div>
		<div class="form-text">
			{{ form.password.errors }}
			<label for="id_password">Contraseña:</label>
			{{ form.password }}
		</div>
		<div class="form-text">
			{{ form.repeat_password.errors }}
			<label for="id_repeat_password">Repetir contraseña:</label>
			{{ form.repeat_password }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Guardar" />
		</div>
	</form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url apps.seguridad.views.usuario.edit usuario.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
