{% extends "base_seguridad.html" %}

{% block title %}Modificar contraseña{% endblock %}

{% block content %}
<h2>Modificar contraseña</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<div class="form" id="usuarioForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-text">
			{{ form.password_actual.errors }}
			<label for="id_apellido">Contraseña actual:</label>
			{{ form.password_actual }}
		</div>
		<div class="form-text">
			{{ form.password.errors }}
			<label for="id_apellido">Nueva contraseña:</label>
			{{ form.password }}
		</div>
		<div class="form-text">
			{{ form.repeat_password.errors }}
			<label for="id_apellido">Repetir nueva contraseña:</label>
			{{ form.repeat_password }}
		</div>

		<div class="form-submit">
			<input type="submit" value="Guardar" />
		</div>
	</form>
</div>

<ul class="actions">
	<li class="action">
		<a href="{% url apps.seguridad.views.usuario.editarDatosPropios %}"><span>Volver</span></a>
	</li>
</ul>
<hr />
{% endblock %}
