{% extends "base.html" %}

{% block title %}Administrar usuarios{% endblock %}

{% block content %}
<h2>Administrar usuarios</h2>
<div class="form-filter" id="usuarioFormFilter">
  <h3>Búsqueda avanzada</h3>
	<form action="" method="post">{% csrf_token %}
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.tipo_documento.errors }}
			<label for="id_tipo_documento">Tipo de documento:</label>
			{{ form_filters.tipo_documento }}
		</div>
		<div class="form-text">
			{{ form_filters.documento.errors }}
			<label for="id_documento">Documento:</label>
			{{ form_filters.documento }}
		</div>
		<div class="form-text">
			{{ form_filters.apellido.errors }}
			<label for="id_apellido">Apellido:</label>
			{{ form_filters.apellido }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-text">
			{{ form_filters.email.errors }}
			<label for="id_email">Email:</label>
			{{ form_filters.email }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
      <input type="button" value="Reiniciar" onclick="window.location = 'usuario';" />
		</div>
	</form>
</div>

{% if objects %}
<table class="hor-zebra">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for u in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
        <td><a href="{% url seguridad.views.usuario.edit u.id %}">
          {{u.tipo_documento.abreviatura}} - {{u.documento}}
        </a></td>
        <td><a href="{% url seguridad.views.usuario.edit u.id %}">
          {{u.nombre}}
        </a></td>
        <td><a href="{% url seguridad.views.usuario.edit u.id %}">
          {{u.apellido}}
        </a></td>
        <td class="actions-td">
          <ul>
            <li class="edit"><a href="{% url seguridad.views.usuario.edit u.id %}" alt="Editar" title="Editar"><span>Editar</span></a></li>
            <!--
            <li class="delete"><a href="#" alt="Eliminar" title="Eliminar"><span>Eliminar</span></a></li>
            -->
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="message warning">
  <p>No se encontraron usuarios con ese criterio de búsqueda</p>
</div>
{% endif %}
<ul class="actions">
  <li class="create">
    <a href="{% url seguridad.views.usuario.create %}"><span>Dar de alta nuevo usuario</span></a>
  </li>
</ul>
{% endblock %}
