{% extends "base_seguridad.html" %}

{% block title %}Alta de usuario{% endblock %}

{% block content %}
<h2>Alta de usuario</h2>
{% if flash %}
	{% include "flashes.html" %}
{% endif %}
<div class="form" id="usuarioForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_documento.errors }}
			<label for="id_tipo_documento">Tipo de documento:</label>
			{{ form.tipo_documento }}
		</div>
		<div class="form-text">
			{{ form.documento.errors }}
			<label for="id_documento">Documento:</label>
			{{ form.documento }}
		</div>
		<div class="form-text">
			{{ form.apellido.errors }}
			<label for="id_apellido">Apellido:</label>
			{{ form.apellido }}
		</div>
		<div class="form-text">
			{{ form.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form.nombre }}
		</div>
		<div class="form-text">
			{{ form.email.errors }}
			<label for="id_email">Email:</label>
			{{ form.email }}
		</div>
		<div class="form-text">
			{{ form.password.errors }}
			<label for="id_password">Contraseña:</label>
			{{ form.password }}
		</div>
		<div class="form-text">
			{{ form.repeat_password.errors }}
			<label for="id_repeat_password">Repetir contraseña:</label>
			{{ form.repeat_password }}
		</div>
		<div class="form-select">
			{{ form.rol.errors }}
			<label for="id_rol">Rol:</label>
			{{ form.rol }}
		</div>
		<div class="form-select">
			{{ form.ambito.errors }}
			<label for="id_ambito">Ambito:</label>
			{{ user_perfil.ambito.id }}

<input type="hidden" name="ambito" id="ambito" value="{{ form.data.ambito }}"/>
<span id="ambito_nombre"></span><a href="#" onclick="seleccionarAmbito('ambito_selector', 'ambito')"></a>
<div id="ambito_selector"></div>


		</div>
		<div class="form-submit">
			<input type="submit" value="Dar alta" />
		</div>
	</form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url seguridad.views.usuario.index %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
