<div class="form" id="establecimientoForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.jurisdiccion.errors }}
			<label for="id_jurisdiccion">Jurisdicción:</label>
			{{ form.jurisdiccion }}
		</div>
		<div class="form-select">
			{{ form.tipo_gestion.errors }}
			<label for="id_tipo_gestion">Tipo de Gestión:</label>
			{{ form.tipo_gestion }}
		</div>
		<div class="form-select">
			{{ form.tipo_dependencia_funcional.errors }}
			<label for="id_tipo_dependencia_funcional">Tipo de Dependencia:</label>
			{{ form.tipo_dependencia_funcional }}
		</div>
		<div class="form-text">
			<label>Nombre:</label>
			<p id="id_nombre_generado"></p>
			<hr />
		</div>
		<div class="form-submit">
		{% if establecimiento %}
			<input type="submit" value="Actualizar" />
		{% else %}
			<input type="submit" value="Guardar" />
		{% endif %}
		</div>
	</form>
</div>
<script type="text/javascript">
var dropdown_jurisdiccion = $("select#id_jurisdiccion");
var dropdown_tipo_dependencia_funcional = $("select#id_tipo_dependencia_funcional");
var dropdown_tipo_gestion = $("select#id_tipo_gestion");
var nombre_generado = $("p#id_nombre_generado");

$(document).ready(
    function(){
		// Armo el nombre según lo seleccionado
		$.each([dropdown_jurisdiccion, dropdown_tipo_dependencia_funcional, dropdown_tipo_gestion], function(i, dropdown){
			dropdown.change(
				function(){					
					val = $("select#id_tipo_dependencia_funcional :selected").text() + " de Gestión " + $("select#id_tipo_gestion :selected").text() + " de " + $("select#id_jurisdiccion :selected").text();
					nombre_generado.html(val);
				}
			);
		});
		
		// Init
		val = $("select#id_tipo_dependencia_funcional :selected").text() + " de Gestión " + $("select#id_tipo_gestion :selected").text() + " de " + $("select#id_jurisdiccion :selected").text();
		nombre_generado.html(val);
    } // END function
); // END document.ready

</script>
