{% extends "base_registro.html" %}

{% block title %}Administrar dependencias funcionales{% endblock %}

{% block content %}
<h2>Administrar dependencias funcionales</h2>
{% if flash %}
	{% include "flashes.html" %}
{% endif %}
<form action="" method="get">
<div class="form-filter" id="dependenciafuncionalFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.jurisdiccion.errors }}
			<label for="id_jurisdiccion">Jurisdicción:</label>
			{{ form_filters.jurisdiccion }}
		</div>
		<div class="form-select">
			{{ form_filters.tipo_dependencia_funcional.errors }}
			<label for="id_tipo_dependencia_funcional">Tipo de dependencia:</label>
			{{ form_filters.tipo_dependencia_funcional }}
		</div>
		<div class="form-select">
			{{ form_filters.tipo_gestion.errors }}
			<label for="id_tipo_gestion">Tipo de gestión:</label>
			{{ form_filters.tipo_gestion }}
		</div>
		<div class="form-select">
			{{ form_filters.gestion_jurisdiccion.errors }}
			<label for="id_gestion_jurisdiccion">Gestión jurisdiccional:</label>
			{{ form_filters.gestion_jurisdiccion }}
		</div>
		<div class="form-select">
			{{ form_filters.tipo_educacion.errors }}
			<label for="id_tipo_educacion">Tipo de educación:</label>
			{{ form_filters.tipo_educacion }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'dependencia_funcional';" />
		</div>

</div>

{% if objects %}
<table class="hor-zebra">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Jurisdiccion</th>
      <th>Tipo de gestión</th>
      <th>Tipo de dependencia</th>
      <th>Tipo de educación</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for dep in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
        <td>{{ dep.nombre }}</td>
		<td>{{ dep.jurisdiccion }}</td>
		<td>{{ dep.tipo_gestion }}</td>
		<td>{{ dep.tipo_dependencia_funcional }}</td>
		<td>{{ dep.tipo_educacion }}</td>
        <td class="actions-td">
          <ul>
            <li class="edit"><a href="{% url apps.registro.views.dependencia_funcional.edit dep.id %}" title="Editar"><span>Editar</span></a></li>
            <li class="delete"><a href="{% url apps.registro.views.dependencia_funcional.delete dep.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message warning">
  <p>No se encontraron dependencias funcionales.</p>
</div>
{% endif %}
<ul class="actions">
  <li class="create">
    <a href="{% url apps.registro.views.dependencia_funcional.create %}"><span>Nueva dependencia</span></a>
  </li>
</ul>
<hr />
{% endblock %}

