{% extends "backend/base.html" %}

{% block title %}Administrar Tipos de Gestión{% endblock %}

{% block content %}
<h2>Administrar Tipos de Gestión</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<form action="" method="get">
{% if objects %}
<table class="hor-zebra" style="margin-top:25px">
  <thead>
    <tr>
      <th>Nombre</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ obj.nombre }}</td>
	<td class="actions-td">
          <ul>
            <li class="edit"><a href="{% url apps.backend.views.crud.edit 'tipo_gestion' obj.id %}" title="Editar"><span>Editar</span></a></li>
            <li class="delete"><a href="{% url apps.backend.views.crud.delete 'tipo_gestion' obj.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron resultados.</p>
</div>
{% endif %}
<ul class="actions">
  <li class="create">
    <a href="{% url apps.backend.views.crud.create 'tipo_gestion' %}"><span>Nuevo</span></a>
  </li>
</ul>
<hr />
{% endblock %}

