{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar proyectos{% endblock %}

{% block content %}
<h2>Administrar proyectos</h2>
<form action="" method="get">

{% if objects %}
<table class="hor-zebra">
  <thead>
    <tr>
      <th>Año</th>
      <th>Nombre de programa o proyecto</th>
      <th>Tipo de proyecto</th>
      <th>Denominación</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in objects %}
    <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	    <td>{{ p.anio_presenta }}</td>
	    <td>{{ p.nombre }}</td>
	    <td>{{ p.tipo_proyecto }}</td>
	    <td>{{ p.denominacion }}</td>
        <td class="actions-td">
	        <ul>
         		<li class="edit"><a href="{% url apps.titulos.views.proyecto.edit p.id %}" title="Editar"><span>Editar</span></a></li>
				{% if user_perfil.rol.nombre in 'AdminTitulos' %}
        		<li class="delete"><a href="{% url apps.titulos.views.proyecto.delete p.id %}" title="Eliminar"><span>Eliminar</span></a></li>
                {% endif %}
	        </ul>
         </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron proyectos.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'RectorDirectorIFD,SecretarioIFD,Anexo' %}
    <li class="create">
	<a href="{% url apps.titulos.views.proyecto.create %}"><span>Nuevo</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
