<div id="solicitudDatosNav" class="tab-nav">
	<ul>
		{% if solicitud %}
		<li{% if current_page == 'datos_basicos' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.edit solicitud.id %}" title="Título"><span>Título</span></a></li>
		<li{% if current_page == 'normativas' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.editar_normativas solicitud.id %}" title="Normativas"><span>Normativas</span></a></li>
		<li{% if current_page == 'cohortes' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.editar_cohortes solicitud.id %}" title="Cohortes"><span>Cohortes</span></a></li>
			{% if "validez_nacional_control" in credenciales and solicitud.estado.nombre == 'Pendiente' %}
		<li{% if current_page == 'control' %} class="active"{% endif %}><a href="% url apps.validez_nacional.views.solicitud.editar_cohortes carrera_jurisdiccional.id %}" title="Control"><span>Control</span></a></li>
			{% endif %}
		{% else %}
		<li{% if current_page == 'datos_basicos' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.create %}" title="Datos básicos"><span>Datos básicos</span></a></li>
		<li{% if current_page == 'normativas' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.editar_normativas %}" title="Normativas"><span>Normativas</span></a></li>
		<li{% if current_page == 'cohortes' %} class="active"{% endif %}><a href="{% url apps.validez_nacional.views.solicitud.editar_cohortes %}" title="Cohortes"><span>Cohortes</span></a></li>
		{% endif %}
	</ul>
</div>
