{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Solicitud de Validez Nacional de Títulos{% endblock %}

{% block content %}
<h2>Solicitud de Validez Nacional de Títulos</h2>

{% if "validez_nacional_solicitud" in credenciales %}
<ul class="actions">
	<li class="create">
		<a href="{% url apps.validez_nacional.views.solicitud.create %}"><span>Nueva Solicitud de Validez</span></a>
	</li>
</ul>
{% endif %}

{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<form action="" method="get">
	<div class="form-filter" id="validezNacionalSolicitudFormFilter">
		<h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-text">
			{{ form_filters.titulo.errors }}
			<label for="id_titulo">Título:</label>
			{{ form_filters.titulo }}
		</div>
		<div class="form-text">
			{{ form_filters.primera_cohorte.errors }}
			<label for="id_primera_cohorte">Primera Cohorte Solicitada:</label>
			{{ form_filters.primera_cohorte }}
		</div> 
		<div class="form-select">
			{{ form_filters.estado.errors }}
			<label for="id_estado">Estado:</label>
			{{ form_filters.estado }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = '/validez_nacional/';" />
		</div>
</div>


{% if objects %}
{% include "counter.html" %}
<ul class="reportes-actions">
    <li class="export-csv">
	<a href="{{ export_url }}" title="Exportar resultado en formato CSV"><span>Exportar Resultado</span></a>
    </li>
</ul>
<table class="hor-zebra" style="margin-top:65px">
  <thead>
    <tr>
      <th>Jurisdicción</th>
      <th>Carrera</th>
      <th>Título</th>
      <!--
      <th>Norm. Jurisd.</th>
      -->
      <th>Cohortes</th>
      <th>Estado</th>
      <th>Dict. Cofev</th>
      <th>Norm. Nac.</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ obj.jurisdiccion }}</td>
	<td>{{ obj.carrera.nombre }}</td>
	<td>{{ obj.titulo_nacional.nombre }}</td>
	<!--
	<td>{{ obj.normativas_jurisdiccionales.all|implode:", " }}</td>
	-->
	<td>{{ obj.primera_cohorte|default:"---" }}-{{ obj.ultima_cohorte|default:"---" }}</td>
	<td>{{ obj.estado }}</td>
	<td>{{ obj.dictamen_cofev|default:"---" }}</td>
	<td>{{ obj.normativas_nacionales|default:"---" }}</td>
		<td class="actions-td">
			<ul>
			{% if "validez_nacional_editar_solicitud" in credenciales and obj.estado.nombre == 'Pendiente' or user_perfil.rol.nombre in 'AdminNacional' and obj.estado.nombre != 'Numerado' %}
				<li class="edit"><a href="{% url apps.validez_nacional.views.solicitud.edit obj.id %}" title="Editar"><span>Editar</span></a></li>
				<li class="one-many"><a href="{% url apps.validez_nacional.views.solicitud.asignar_establecimientos obj.id %}" title="Asignar a Sedes"><span>Asignar a Sedes</span></a></li>
				<li class="one-many"><a href="{% url apps.validez_nacional.views.solicitud.asignar_anexos obj.id %}" title="Asignar a Anexos"><span>Asignar a Anexos</span></a></li>
			{% endif %}
			{% if obj.is_deletable %}
				<li class="delete"><a href="{% url apps.validez_nacional.views.solicitud.delete obj.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>	
			{% endif %}				
			</ul>			
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron resultados.</p>
</div>
{% endif %}
<hr />
{% endblock %}

