{% extends "base_informe.html" %}

{% load tags_filters %}

{% block title %}INFORME DEPARTAMENTO DE REGISTRO Y VALIDEZ DE TITULOS INFOD{% endblock %}
{% block css_body_classes %}{% css_classes "informe-solicitud" %}{% endblock %}
{% block content %}
<img src='{{ STATIC_URL }}/img/logo-2017b--360x177.jpg' />
<div id='inner-content'>
    <h2>INFORME - SECRETARÍA TÉCNICA COFEV - INFD</h2>

    {% if flash %}
        {% include "flashes.html" %}
    {% endif %}

    <div class="data">
        <ul>
            <li><strong>JURISDICCION SOLICITANTE:</strong> <span>{{ solicitud.jurisdiccion }}</span></li>
            <li><strong>NÚMERO DE EXPEDIENTE:</strong> <span>{{ solicitud.get_nro_expediente_completo }}</span></li>
            <li><strong>TÍTULO:</strong> <span>{{ solicitud.titulo_nacional }}</span></li>
            <li><strong>NORMATIVA PROVINCIAL APROBACIÓN DISEÑO CURRICULAR:</strong> {% for n in solicitud.normativas_jurisdiccionales.all %}{{ n.numero_anio }}  {% endfor %}</li>
        </ul>
    </div>

    <br />

    <h2>INSTITUCIONES:</h2>

    {% if solicitud.tiene_unidades_asignadas %}
    <table>
        <thead>
            <tr>
                <th>Instituto</th>
                <th>Localidad</th>
                <th>N° CUE</th>
                <th>Cohortes</th>
                <th>Inscripto Registro Federal</th>
            </tr>
        </thead>
        <tbody>
        {% for sol_est in solicitud.establecimientos.all %}
            <tr>
                <td>{{ sol_est.establecimiento.nombre }}</td>
                <td>{{ sol_est.establecimiento.get_domicilio_institucional.localidad }}</td>
                <td>{{ sol_est.establecimiento.cue }}</td>
                <td>{{ solicitud.primera_cohorte }} - {{ solicitud.ultima_cohorte }}</td>
                <td class="inscripto-registro"><span>Sí</span></td>
            </tr>
        {% endfor %}
        {% for sol_anexo in solicitud.anexos.all %}
            <tr>
                <td>{{ sol_anexo.anexo.nombre }}</td>
                <td>{{ sol_anexo.anexo.get_domicilio_institucional.localidad }}</td>
                <td>{{ sol_anexo.anexo.cue }}</td>
                <td>{{ solicitud.primera_cohorte }} - {{ solicitud.ultima_cohorte }}</td>
                <td class="inscripto-registro"><span>Sí</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>La solicitud no tiene Unidades Educativas asignadas.</p>
    {% endif %}

    {% if user_perfil.rol.nombre in 'AdminNacional' %}
    <h2>INFORME:</h2>
    <p>DEL ANALISIS EFECTUADO SOBRE EL EXPEDIENTE N° {{ solicitud.get_nro_expediente_completo }} EN RELACIÓN A REQUISITOS ESTABLECIDOS EN LA NORMATIVA VIGENTE SURGE QUE:</p>
    <table id="tabla-informe">
        <tbody>
            <tr>
                <th>1. Normativa de implementación con nómina del/los institulo/s donde se implementará el diseño curricular, con la/s cohorte/s autorizada/s para su implementación  y su/s respectivo/s número/s de CUE</th>
                <td class="cumplido"><span>{% if informe.normativa_implementacion %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>2. Diseño jurisdiccional único por carrera</th>
                <td class="cumplido"><span>{% if informe.disenio_jurisdiccional_unico %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>3. Denominación del título</th>
                <td class="cumplido"><span>{% if informe.denominacion_titulo %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>4. Carga horaria mínima establecida por el CFE que en ningún caso será inferior a 2600 horas reloj</th>
                <td class="cumplido"><span>{% if informe.carga_horaria_minima %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>5. Organización de los estudios en la cantidad de años académicos establecidos por el CFE que en ningún caso será inferior a 4 años</th>
                <td class="cumplido"><span>{% if informe.organizacion_estudios %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>6. Organización en torno a los tres campos del conocimiento presentes en cada uno de los años; FG, FE y FPP. Los tres campos deben ser de desarrollo simultáneo durante toda la carrera.</th>
                <td class="cumplido"><span>{% if informe.organizacion_tres_campos %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>7. Presencia de la residencia pedagógica en el último año académico.</th>
                <td class="cumplido"><span>{% if informe.presencia_residencia_pedagogica %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
            <tr>
                <th>8. Acreditación de las condiciones institucionales establecidas según RES.CFE N° 140/11</th>
                <td class="cumplido"><span>{% if informe.acreditacion_condiciones_institucionales %}CUMPLIDO{% else %}SIN CUMPLIR{% endif %}</span></td>
            </tr>
        </tbody>
    </table>

        {% if informe.observaciones %}
    <h2>Observaciones:</h2>
    <p>{{ informe.observaciones }}</p>
        {% endif %}
    {% endif %}
</div> <!-- inner-content -->

<ul class="actions noPrint">
  <li>
    <input type="button" onclick="window.print()" value="Imprimir" class="noPrint"/>
  </li>
</ul>
<hr />


{% endblock %}
