{% extends "base_informe.html" %}

{% load tags_filters %}

{% block title %}INFORME DEPARTAMENTO DE REGISTRO Y VALIDEZ DE TITULOS INFOD{% endblock %}
{% block css_body_classes %}{% css_classes "informe-solicitud" %}{% endblock %}
{% block content %}
<img src='{{ STATIC_URL }}/img/logo-2017b--360x177.jpg' />
<div id='inner-content'>
    <h2>INFORME - SECECRETARÍA TÉCNICA COFEV - INFD</h2>

    {% if flash %}
        {% include "flashes.html" %}
    {% endif %}

    <div class="data">
        <ul>
            <li><strong>JURISDICCION SOLICITANTE:</strong> <span>{{ solicitud.jurisdiccion }}</span></li>
            <li><strong>NÚMERO DE EXPEDIENTE:</strong> <span>{{ solicitud.nro_expediente|default:"---" }}</span></li>
            <li><strong>TÍTULO:</strong> <span>{{ solicitud.titulo_nacional }}</span></li>
            <li><strong>NORMATIVA PROVINCIAL APROBACIÓN DISEÑO CURRICULAR:</strong> {% for n in solicitud.normativas_jurisdiccionales.all %}{{ n.numero_anio }}  {% endfor %}</li>
        </ul>
    </div>

    <br />

    <h2>INSTITUCIONES:</h2>

    {% if solicitud.tiene_unidades_asignadas %}
    <table>
        <thead>
            <tr>
                <th>Instituto</th>
                <th>Localidad</th>
                <th>N° CUE</th>
                <th>Cohortes</th>
                <th>Inscripto Registro Federal</th>
            </tr>
        </thead>
        <tbody>
        {% for sol_est in solicitud.establecimientos.all %}
            <tr>
                <td>{{ sol_est.establecimiento.nombre }}</td>
                <td>{{ sol_est.establecimiento.get_domicilio_institucional.localidad }}</td>
                <td>{{ sol_est.establecimiento.cue }}</td>
                <td>{{ solicitud.primera_cohorte }} - {{ solicitud.ultima_cohorte }}</td>
                <td class="inscripto-registro"><span>Sí</span></td>
            </tr>
        {% endfor %}
        {% for sol_anexo in solicitud.anexos.all %}
            <tr>
                <td>{{ sol_anexo.anexo.nombre }}</td>
                <td>{{ sol_anexo.anexo.get_domicilio_institucional.localidad }}</td>
                <td>{{ sol_anexo.anexo.cue }}</td>
                <td>{{ solicitud.primera_cohorte }} - {{ solicitud.ultima_cohorte }}</td>
                <td class="inscripto-registro"><span>Sí</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>La solicitud no tiene Unidades Educativas asignadas.</p>
    {% endif %}

    <h2>INFORME:</h2>
    <p>DEL ANALISIS EFECTUADO SOBRE EL EXPEDIENTE N° {{ solicitud.nro_expediente|default:"---" }} EN RELACIÓN A REQUISITOS ESTABLECIDOS EN LA NORMATIVA VIGENTE SURGE QUE:</p>

    <form action="" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <table id="tabla-informe">
            <tbody>
                <tr>
                    <th>1. Normativa de implementación con nómina del/los institulo/s donde se implementará el diseño curricular, con la/s cohorte/s autorizada/s para su implementación  y su/s respectivo/s número/s de CUE</th>
                    <td class="cumplido">
                        {{ form.normativa_implementacion.errors }}
                        <label for="id_normativa_implementacion">Cumplido:</label>
                        {{ form.normativa_implementacion }}
                    </td>
                </tr>
                <tr>
                    <th>2. Diseño jurisdiccional único por carrera</th>
                    <td class="cumplido">
                        {{ form.disenio_jurisdiccional_unico.errors }}
                        <label for="id_disenio_jurisdiccional_unico">Cumplido:</label>
                        {{ form.disenio_jurisdiccional_unico }}
                    </td>
                </tr>
                <tr>
                    <th>3. Denominación del título</th>
                    <td class="cumplido">
                        {{ form.denominacion_titulo.errors }}
                        <label for="id_denominacion_titulo">Cumplido:</label>
                        {{ form.denominacion_titulo }}
                    </td>
                </tr>
                <tr>
                    <th>4. Carga horaria mínima establecida por el CFE que en ningún caso será inferior a 2600 horas reloj</th>
                    <td class="cumplido">
                        {{ form.carga_horaria_minima.errors }}
                        <label for="id_carga_horaria_minima">Cumplido:</label>
                        {{ form.carga_horaria_minima }}
                    </td>
                </tr>
                <tr>
                    <th>5. Organización de los estudios en la cantidad de años académicos establecidos por el CFE que en ningún caso será inferior a 4 años</th>
                    <td class="cumplido">
                        {{ form.organizacion_estudios.errors }}
                        <label for="id_organizacion_estudios">Cumplido:</label>
                        {{ form.organizacion_estudios }}
                    </td>
                </tr>
                <tr>
                    <th>6. Organización en torno a los tres campos del conocimiento presentes en cada uno de los años; FG, FE y FPP. Los tres campos deben ser de desarrollo simultáneo durante toda la carrera.</th>
                    <td class="cumplido">
                        {{ form.organizacion_tres_campos.errors }}
                        <label for="id_organizacion_tres_campos">Cumplido:</label>
                        {{ form.organizacion_tres_campos }}
                    </td>
                </tr>
                <tr>
                    <th>7. Presencia de la residencia pedagógica en el último año académico.</th>
                    <td class="cumplido">
                        {{ form.presencia_residencia_pedagogica.errors }}
                        <label for="id_presencia_residencia_pedagogica">Cumplido:</label>
                        {{ form.presencia_residencia_pedagogica}}
                    </td>
                </tr>
                <tr>
                    <th>8. Acreditación de las condiciones institucionales establecidas según RES.CFE N° 140/11</th>
                    <td class="cumplido">
                        {{ form.acreditacion_condiciones_institucionales.errors }}
                        <label for="id_acreditacion_condiciones_institucionales">Cumplido:</label>
                        {{ form.acreditacion_condiciones_institucionales }}
                    </td>
                </tr>
            </tbody>
        </table>

        <hr /><br />

        <h2>Observaciones:</h2>
        <div class="form-textarea">
            {{ form.observaciones.errors }}
            {{ form.observaciones }}
        </div>
        <hr /><br />

        <input type="submit" value="Guardar Informe" class="noPrint" />
    </form>
</div> <!-- inner-content -->

<hr />

<ul class="actions">
  <li class="back">
    <a href="{% url apps.validez_nacional.views.solicitud.informe_impresion solicitud.id %}"><span>Vista de impresión</span></a>
  </li>
</ul>

{% endblock %}
