<div class="form tabbed-form" id="establecimientoForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-checkbox-list">
			{{ form.turnos.errors }}
			{{ form.turnos }}
			<hr />
		</div>
        {% if 'reg_extension_aulica_verificar_datos' in credenciales %}
        <div class="form-checkbox">
            <label for="id_verificado">Datos verificados:</label>
            {{ form.verificado }}
        </div>
        {% endif %}
        {% if 'reg_extension_aulica_modificar' in credenciales %}
		<div class="form-submit">
			<input type="submit" value="Actualizar" />
		</div>
        {% endif %}
	</form>
</div>
