{% extends "base_registro.html" %}

{% block title %}Administración de Unidades Educativas{% endblock %}

{% block content %}
<h2>Administración de Unidades Educativas</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<form action="" method="get">
<div class="form-filter" id="extensionAulicaFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.establecimiento.errors }}
			<label for="id_establecimiento">Establecimiento:</label>
			{{ form_filters.establecimiento }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'extension_aulica';" />
		</div>

</div>

{% if objects %}
{% include "counter.html" %}
<ul class="reportes-actions">
    <li class="export-csv">
	<a href="{{ export_url }}" title="Exportar resultado en formato CSV"><span>Exportar resultado</span></a>
    </li>
</ul>
<table class="hor-zebra">
<thead>
    <tr>
      <th id="thCueExtensionAulica">CUE</th>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Localidad</th>
      <th>Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
    {% for ext in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ ext.cue }}</td>
        <td>{{ ext.nombre }}</td>
	<td>{{ ext.get_first_domicilio.localidad.departamento }}</td>
	<td>{{ ext.get_first_domicilio.localidad }}</td>
	<td>
	    <div class="estados">
	    {% for estado in ext.estados.all %}
		<p class="estado-{{ estado|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
	    {% endfor %}
	    </div>
	</td>
        <td class="actions-td">
	    <ul>
	    {% if 'reg_extension_aulica_modificar' in credenciales and ext.is_editable %}
		<li class="edit"><a href="{% url apps.registro.views.extension_aulica.edit ext.id %}" title="Editar"><span>Editar</span></a></li>
	    {% endif %}
	    {% if ext.is_deletable %}
		<li class="delete"><a href="{% url apps.registro.views.extension_aulica.delete ext.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message warning">
  <p>No se encontraron extensiones áulicas.</p>
</div>
{% endif %}
<ul class="actions">
    {% if 'reg_extension_aulica_alta' in credenciales %}
    <li class="create">
	<a href="{% url apps.registro.views.extension_aulica.create %}"><span>Nueva extensión áulica</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
