{% extends "base_titulos.html" %}

    {% block title %}Eliminación de año de seguimiento de cohorte{% endblock %}

{% block content %}
<h2>Eliminación de año de seguimiento de cohorte</h2>

<div class="form" id="anioSeguimientoEliminarForm">
    <form action="" method="post">{% csrf_token %}
	<input type="hidden" name="seguimiento_id" value="{{ seguimiento_id }}" />
	<div class="form-submit">
	    <input type="submit" value="Eliminar" />
	</div>
    </form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url apps.titulos.views.cohorte_establecimiento.seguimiento 2 %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
