{% extends "base_titulos.html" %}

{% block title %}Seguimiento de la cohorte{% endblock %}

{% block content %}
<h2>Seguimiento de la cohorte - {{ page_title }}</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "titulos/cohorte/cohorte_establecimiento/datos_cohorte_establecimiento.html" %}

{% include "titulos/cohorte/cohorte_establecimiento/seguimiento_nav.html" %}

{% if form_template %}
{% include form_template %}
{% endif %}

<ul class="actions">
  <li class="back">
    <a href="{% url apps.titulos.views.cohorte_establecimiento.seguimiento cohorte_establecimiento.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />

{% endblock %}
