{% extends "base_titulos.html" %}

{% block title %}Asignar la cohorte a extensiones áulicas{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}
{% css_classes "cohorte-asignar-extensiones-aulicas" %}
{% endblock %}

{% block content %}
<h2>Asignar la cohorte a extensiones áulicas</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<form action="" method="get">
    <div class="form-filter" id="cohorteAsignarExtensionesAulicasFormFilter">
	<h3>Búsqueda avanzada</h3>
	{{ form_filters.non_field_errors }}
	<div class="form-select">
	    {{ form_filters.dependencia_funcional.errors }}
	    <label for="id_dependencia_funcional">Dependencia funcional:</label>
	    {{ form_filters.dependencia_funcional }}
	</div>
	<div class="form-select">
	    {{ form_filters.localidad.errors }}
	    <label for="id_localidad">Localidad:</label>
	    {{ form_filters.localidad }}
	</div>
	<div class="form-text">
	    {{ form_filters.cue.errors }}
	    <label for="id_cue">CUE:</label>
	    {{ form_filters.cue }}
	</div>
	<div class="form-text">
	    {{ form_filters.nombre.errors }}
	    <label for="id_nombre">Nombre:</label>
	    {{ form_filters.nombre }}
	</div>
	<div class="form-submit">
		<input type="submit" value="Buscar" />
		<input type="button" value="Reiniciar" onclick="window.location = '/titulos/cohorte/{{ cohorte.id }}/asignar-extensiones-aulicas';" />
	</div>
    </div>
</form>

{% include "titulos/cohorte/datos_cohorte.html" %}

{% if objects %}
{% include "counter.html" %}
<form action="" method="post">{% csrf_token %}
    <table class="hor-zebra">
	<thead>
	    <tr>
		<th><input type="checkbox" name="check_all_extensiones_aulicas" id="check_all_extensiones_aulicas" /></th>
		<th id="thEstablecimientoCue">CUE</th>
		<th>Extensiones áulicas</th>
		<th>Nombre</th>
		<th>Oferta</th>
		<th>Departamento</th>
		<th>Localidad</th>
	    </tr>
	</thead>
	<tbody>
	{% for extension_aulica in objects %}
	    <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
		<td><input type="checkbox" name="extensiones_aulicas" value="{{ extension_aulica.id }}"{% if extension_aulica.id in current_extensiones_aulicas_ids %} checked="checked"{% endif%} /></td>
		<td>{{ extension_aulica.establecimiento.cue }}</td>
		<td>{{ extension_aulica.cue }}</td>
		<td>{{ extension_aulica.nombre }}</td>
		<td><input type="checkbox" name="oferta" value="{{ extension_aulica.id }}"{% if extension_aulica.id in current_extensiones_aulicas_oferta %} checked="checked"{% endif%} /></td>
		<td>{{ extension_aulica.domicilio.get.localidad.departamento }}</td>
		<td>{{ extension_aulica.domicilio.get.localidad }}</td>
	    </tr>
	{% endfor %}
	</tbody>
    </table>
{% include "paginator.html" %}
    <div class="form-submit" style="margin-top: 20px;">
	<input type="submit" value="Asignar extensiones áulicas seleccionadas" />
    </div>
</form>
<script type="text/javascript">
// init
extension_aulica_checked = false;
extension_aulica_checkboxes = $('input[name="extensiones_aulicas"][type="checkbox"]');
$('#check_all_extensiones_aulicas').checked = false;
$('#check_all_extensiones_aulicas').attr('checked', extension_aulica_checked);
$('#check_all_extensiones_aulicas').click(function(){
    extension_aulica_checked = !extension_aulica_checked;
    extension_aulica_checkboxes.attr('checked', extension_aulica_checked);
});
</script>

{% else %}
<div class="message warning">
	<p>No se encontraron extensiones áulicas.</p>
</div>
{% endif %}
<ul class="actions">
    <li class="back">
        <a href="{% url apps.titulos.views.cohorte.cohortes_por_titulo cohorte.titulo_jurisdiccional_id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
