{% extends "base_titulos.html" %}

{% block title %}Asignación de Cohorte a Extensión Áulica{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}{% css_classes "cohorte-asignar-extensiones-aulicas" %}{% endblock %}

{% block content %}
<h2>Asignación de Cohorte a Extensión Áulica</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<div class="form-filter" id="cohorteAsignarExtensionesAulicasFormFilter">
	<form action="" method="get">
		<h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.dependencia_funcional.errors }}
			<label for="id_dependencia_funcional">Dependencia funcional:</label>
			{{ form_filters.dependencia_funcional }}
		</div>
		<div class="form-text">
			{{ form_filters.cue.errors }}
			<label for="id_cue">CUE:</label>
			{{ form_filters.cue }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre de la Extensión Áulica:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-select">
			{{ form_filters.tipo_gestion.errors }}
			<label for="id_tipo_gestion">Tipo de Gestión:</label>
			{{ form_filters.tipo_gestion }}
		</div>
		<div class="form-submit">
		<input type="hidden" name="page" value="" />
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = '/titulos/cohorte/{{ cohorte.id }}/asignar-extensiones-aulicas';" />
		</div>
	</form>
</div>

{% include "titulos/cohorte/datos_cohorte.html" %}

{% if objects %}
{% include "counter.html" %}
<hr />
<form action="" method="post">{% csrf_token %}
    <table class="hor-zebra">
		<thead>
			<tr>
				<th><input type="checkbox" name="check_all_extensiones_aulicas" id="check_all_extensiones_aulicas" /> <label for="check_all_extensiones_aulicas">Todas</label></th>
				<th id="thEstablecimientoCue">CUE</th>
				<th>Extensión Áulica</th>
			</tr>
		</thead>
		<tbody>
		{% for extension_aulica in objects %}
			<tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
				<td><input type="checkbox" name="extensiones_aulicas" value="{{ extension_aulica.id }}"{% if extension_aulica.id in current_extensiones_aulicas_ids %} checked="checked"{% endif%} /></td>
				<td>{{ extension_aulica.cue }}</td>
				<td>{{ extension_aulica.nombre }}</td>
			</tr>
		{% endfor %}
		</tbody>
    </table>
{% include "paginator.html" %}
    <div class="form-submit" style="margin-top: 20px;">
		<input type="submit" value="Asignar Extensiones Áulicas Seleccionadas" />
    </div>
</form>
<script type="text/javascript">
// init
extension_aulica_checked = false;
extension_aulica_checkboxes = $('input[name="extensiones_aulicas"][type="checkbox"]');
$('#check_all_extensiones_aulicas').checked = false;
$('#check_all_extensiones_aulicas').attr('checked', extension_aulica_checked);
$('#check_all_extensiones_aulicas').click(function(){
    extension_aulica_checked = !extension_aulica_checked;
    extension_aulica_checkboxes.attr('checked', extension_aulica_checked);
});
</script>

{% else %}
<div class="message notice">
	<p>No se encontraron extensiones áulicas.</p>
</div>
{% endif %}
<ul class="actions">
    <li class="back">
        <a href="{% url apps.titulos.views.cohorte.cohortes_por_carrera_jurisdiccional cohorte.carrera_jurisdiccional_id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
<script type="text/javascript">
$(document).ready(function(){
	// Enviar el número de página al form de búsqueda
	$('div.paginator input').click(function(){
		$('#form-filter input[name=page]').val($(this).val());
		$('#form-filter').submit();
		return false;
	});
});
</script>
{% endblock %}
