{% extends "base_titulos.html" %}

{% block title %}Actualización de Cohorte{% endblock %}

{% block content %}
<h2>Actualización de Cohorte</h2>

{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% if asignada_establecimiento %}
    <div class="message notice">
        <p>La cohorte tiene establecimientos asignados, sólo se puede modificar el campo "Observaciones".</p>
    </div>
{% endif %}
{% include "titulos/cohorte/form.html" %}

<ul class="actions">
    <li class="back">
        <a href="{% url apps.titulos.views.cohorte.cohortes_por_carrera_jurisdiccional cohorte.carrera_jurisdiccional_id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
