{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar cohortes de títulos jurisdiccionales{% endblock %}

{% block content %}
<h2>Administrar cohortes de títulos jurisdiccionales</h2>
<form action="" method="get">
<div class="form-filter" id="tituloJurisdiccionalCohorteFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.tipo_titulo.errors }}
			<label for="id_tipo_titulo">Tipo de título:</label>
			{{ form_filters.tipo_titulo }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre_titulo">Nombre del título:</label>
			{{ form_filters.nombre_titulo }}
		</div>
		<div class="form-select">
			{{ form_filters.carrera.errors }}
			<label for="id_carrera">Carrera:</label>
			{{ form_filters.carrera }}
		</div>
		<div class="form-select">
			{{ form_filters.anio_primera_cohorte.errors }}
			<label for="id_anio_primera_cohorte">Año primera cohorte:</label>
			{{ form_filters.anio_primera_cohorte }}
		</div>
		<div class="form-select">
			{{ form_filters.estado.errors }}
			<label for="id_estado">Estado:</label>
			{{ form_filters.estado }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'cohorte';" />
		</div>

</div>

{% if objects %}
<table class="hor-zebra">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título nacional</th>
      <th>Tipo de título</th>
      <th>Carrera</th>
      <th>Inicio-fin cohortes</th>
      <th>Cohortes asignadas</th>
      <th class="th-estados">Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for titulo_jurisdiccional in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ titulo_jurisdiccional.id }}</td>
	<td>{{ titulo_jurisdiccional.titulo }}</td>
	<td>{{ titulo_jurisdiccional.titulo.tipo_titulo }}</td>
	<td>{{ titulo_jurisdiccional.titulo.carrera }}</td>
	<td>{{ titulo_jurisdiccional.datos_cohorte.get.anio_primera_cohorte }}-{{ titulo_jurisdiccional.datos_cohorte.get.anio_ultima_cohorte }}</td>
	<td>
	    <p>{{ titulo_jurisdiccional.cohortes.all|implode:", " }}</p>
	</td>
	<td>
	    <div class="estados">
	    {% for estado in titulo_jurisdiccional.estados %}
		<p class="estado-{{ estado.estado.nombre|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
	    {% endfor %}
	    </div>
	</td>

        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'Referente,ReferenteRevisor' %}
		<li class="create"><a href="{% url apps.titulos.views.cohorte.create titulo_jurisdiccional.id %}" title="Agregar nueva cohorte"><span>Agregar nueva cohorte</span></a></li>
		<li class="edit"><a href="{% url apps.titulos.views.cohorte.cohortes_por_titulo titulo_jurisdiccional.id %}" title="Editar cohortes"><span>Editar cohortes</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron títulos.</p>
</div>
{% endif %}
<hr />
{% endblock %}
