{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Generar Cohorte para el {{ carrera_jurisdiccional.carrera.nombre }}{% endblock %}

{% block content %}

<h2>Generar Cohorte para el {{ carrera_jurisdiccional.carrera.nombre }}</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<div class="datos-lectura">
	<p><strong>Cohortes generadas:</strong> <span>{{ carrera_jurisdiccional.cohortes.all|implode:", " }}</span></p>
</div>
{% include "titulos/cohorte/form.html" %}

<ul class="actions">
    <li class="back">
    {% if carrera_jurisdiccional %}
        <a href="{% url apps.titulos.views.cohorte.cohortes_por_carrera_jurisdiccional carrera_jurisdiccional.id %}"><span>Volver</span></a>
    {% else %}
        <a href="{% url apps.titulos.views.cohorte.index %}"><span>Volver</span></a>
    {% endif %}
    </li>
</ul>
<hr />
{% endblock %}
