{% extends "base_registro.html" %}

{% block title %}Completar datos del establecimiento{% endblock %}

{% block content %}
<h2>Completar datos del establecimiento - {{ page_title }}</h2>
<h3>{{ establecimiento }}</h3>
<div id="establecimientoActions">
    <ul class="context-actions">
        <li id="linkAutoridades">
            <a href="{% url apps.registro.views.establecimiento_autoridad.index %}" title="Autoridades"><span>Autoridades</span></a>
        </li>
        <li id="linkDomicilios">
            <a href="{% url apps.registro.views.establecimiento_domicilio.index %}" title="Domicilios"><span>Domicilios</span></a>
        </li>
    </ul>
</div>

{% if form_template %}
{% include form_template %}
{% endif %}
<hr />
{% endblock %}
