{% extends "base_registro.html" %}

{% block title %}Completar datos del establecimiento{% endblock %}

{% block content %}
<h2>Completar datos del establecimiento - {{ page_title }}</h2>
<h3>{{ establecimiento }}</h3>

{% include "registro/establecimiento/completar_datos_nav.html" %}

{% if form_template %}
{% include form_template %}
{% endif %}
<ul class="actions">
<!--
    <li class="back">
	<a href="{% url apps.registro.views.establecimiento.index %}"><span>Volver</span></a>
    </li>
-->
</ul>
<hr />
{% endblock %}
