<div id="establecimientoCompletarDatosNav" class="tab-nav">
	<ul>
		<li{% if actual_page == 'datos_basicos' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_datos_basicos %}" title="Datos básicos"><span>Datos básicos</span></a></li>
		<li{% if actual_page == 'niveles' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_niveles %}" title="Niveles"><span>Niveles</span></a></li>
		<li{% if actual_page == 'turnos' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_turnos %}" title="Turnos"><span>Turnos</span></a></li>
		<li{% if actual_page == 'funciones' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_funciones %}" title="Funciones"><span>Funciones</span></a></li>
		<li{% if actual_page == 'domicilio' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_domicilio %}" title="Domicilio"><span>Domicilio</span></a></li>
		<li{% if actual_page == 'informacion_edilicia' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_informacion_edilicia %}" title="Información edilicia"><span>Información edilicia</span></a></li>
		<li{% if actual_page == 'conexion_internet' %} class="active"{% endif %}><a href="{% url registro.views.establecimiento.completar_conexion_internet %}" title="Conectividad"><span>Conectividad</span></a></li>
	</ul>
</div>
