<div class="form tabbed-form" id="establecimientoForm">
    <form action="" method="post">{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-text">
	    {{ form.telefono.errors }}
	    <label for="id_telefono">Teléfono Institucional:</label>
	    {{ form.telefono }}
	</div>
	<div class="form-text">
	    {{ form.interno.errors }}
	    <label for="id_interno">Interno:</label>
	    {{ form.interno }}
	</div>
	<div class="form-text">
	    {{ form.fax.errors }}
	    <label for="id_fax">Número de Fax:</label>
	    {{ form.fax }}
	</div>
	<div class="form-text">
	    {{ form.email.errors }}
	    <label for="id_email">Email Institucional:</label>
	    {{ form.email }}
	</div>
	<div class="form-text">
	    {{ form.sitio_web.errors }}
	    <label for="id_sitio_web">Sitio Web:</label>
	    {{ form.sitio_web }}
	</div>
    {% if 'reg_establecimiento_verificar_datos' in credenciales %}
    <div class="form-checkbox datos-verificados">
        <label for="id_verificado">Datos Verificados:</label>
        {{ form.verificado }}
    </div>
    {% endif %}
    {% if 'reg_establecimiento_completar' in credenciales %}
	<div class="form-submit">
	    <input type="submit" value="Actualizar" />
	</div>
    {% endif %}
    </form>
</div>

<script type="text/javascript">
// Switch el estado del input de nombre de unidad académica
checkbox = document.getElementById('id_unidad_academica');
input = document.getElementById('id_nombre_unidad_academica');
checked = checkbox.checked;
input.disabled = !checked;

checkbox.onclick = function(){
	checked = !checked; // Switch true/false
	input.disabled = !checked;
}

function unidad_academica_enabled()
{
    $("#id_nombre_unidad_academica").attr('disabled', !$("#id_unidad_academica").is(':checked'));
    if(!$("#id_unidad_academica").is(':checked'))
    {
        $("#id_nombre_unidad_academica").val("");
    }
}

function tipo_norma_otra_enabled()
{
    otra = false;
    $("#id_tipo_norma option:selected").each(function ()
        {
            if($(this).text() == 'Otra')
                otra = true;
        }
    );
    $("#id_tipo_norma_otra").attr('disabled', !otra);
    if(!otra)
        $("#id_tipo_norma_otra").val("")
}
$('#id_unidad_academica').change(unidad_academica_enabled);
unidad_academica_enabled();

$('#id_tipo_norma').change(tipo_norma_otra_enabled);
tipo_norma_otra_enabled();

</script>

{% if 'reg_establecimiento_completar' in credenciales %}
<ul class="actions">
    <li class="create">
        <a href="{% url apps.registro.views.establecimiento_autoridad.create establecimiento.id %}"><span>Nueva Autoridad</span></a>
    </li>
</ul>
{% endif %}

<div class="grid-wrapper">
{% if objects %}

{% include "counter.html" %}
    <table class="hor-zebra">
        <thead>
            <tr>
                <th>Cargo</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th class="actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for aut in objects %}
                <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                    <td>{{ aut.cargo }}</td>
                    <td>{{ aut.apellido }}</td>
                    <td>{{ aut.nombre }}</td>
                    <td>{% if aut.tipo_documento %}{{ aut.tipo_documento.abreviatura }}:{% endif %} {% if aut.documento %}{{ aut.documento }}{% else %}---{% endif %} </td>
                    <td class="actions-td">
                        <ul>
                            {% if 'reg_establecimiento_completar' in credenciales %}
                                <li class="edit"><a href="{% url apps.registro.views.establecimiento_autoridad.edit aut.id %}" title="Editar"><span>Editar</span></a></li>
                                <li class="delete"><a href="{% url apps.registro.views.establecimiento_autoridad.delete aut.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="message notice">
        <p>No se encontraron autoridades.</p>
    </div>
{% endif %}

</div>
