<div class="form" id="establecimientoCompletarDatosForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_normativa.errors }}
			<label for="id_tipo_normativa">Tipo de normativa:</label>
			{{ form.tipo_normativa }}
		</div>
		<div class="form-text">
			{{ form.norma_creacion.errors }}
			<label for="norma_creacion">Norma de creación:</label>
			{{ form.norma_creacion }}
		</div>
		<div class="form-text">
			{{ form.anio_creacion.errors }}
			<label for="anio_creacion">Año de creación:</label>
			{{ form.anio_creacion }}
		</div>
		<div class="form-checkbox">
			{{ form.unidad_academica.errors }}
			<label for="id_unidad_academica">Unidad académica:</label>
			{{ form.unidad_academica }}
		</div>
		<div class="form-text">
			{{ form.nombre_unidad_academica.errors }}
			<label for="nombre_unidad_academica">Nombre un. académica:</label>
			{{ form.nombre_unidad_academica }}
		</div>
		<div class="form-text">
			{{ form.telefono.errors }}
			<label for="telefono">Teléfono:</label>
			{{ form.telefono }}
		</div>
		<div class="form-text">
			{{ form.email.errors }}
			<label for="email">Email:</label>
			{{ form.email }}
		</div>
		<div class="form-text">
			{{ form.sitio_web.errors }}
			<label for="sitio_web">Sitio web:</label>
			{{ form.sitio_web }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Actualizar" />
		</div>
	</form>
</div>
<script type="text/javascript">
// Switch el estado del input de nombre de unidad académica
checkbox = document.getElementById('id_unidad_academica');
input = document.getElementById('id_nombre_unidad_academica');
checked = checkbox.checked;
input.disabled = !checked;

checkbox.onclick = function(){
	checked = !checked; // Switch true/false
	input.disabled = !checked;
}
</script>
