<div class="form tabbed-form" id="establecimientoCompletarDatosForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_domicilio.errors }}
			<label for="id_tipo_domicilio">Tipo de domicilio:</label>
			{{ form.tipo_domicilio }}
		</div>
		<div class="form-text">
			{{ form.calle.errors }}
			<label for="calle">Calle:</label>
			{{ form.calle }}
		</div>
		<div class="form-text">
			{{ form.altura.errors }}
			<label for="altura">Altura:</label>
			{{ form.altura }}
		</div>
		<div class="form-select">
			{{ form.localidad.errors }}
			<label for="id_localidad">Localidad:</label>
			{{ form.localidad }}
		</div>
		<div class="form-text">
			{{ form.referencia.errors }}
			<label for="referencia">Referencia:</label>
			{{ form.referencia }}
		</div>
		<div class="form-text">
			{{ form.cp.errors }}
			<label for="cp">CP:</label>
			{{ form.cp }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Actualizar" />
		</div>
	</form>
</div>
