{% extends "base_registro.html" %}

{% block title %}Administrar establecimientos{% endblock %}

{% block content %}
<h2>Administrar establecimientos</h2>
{% if flash %}
	{% include "flashes.html" %}
{% endif %}
<form action="" method="get">
<div class="form-filter" id="establecimientoFormFilter">
	<h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-select">
			{{ form_filters.dependencia_funcional.errors }}
			<label for="id_dependencia_funcional">Dependencia funcional:</label>
			{{ form_filters.dependencia_funcional }}
		</div>
		<div class="form-text">
			{{ form_filters.cue.errors }}
			<label for="id_cue">CUE:</label>
			{{ form_filters.cue }}
		</div>
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'establecimiento';" />
		</div>

</div>

{% if objects %}
<table class="hor-zebra">
	<thead>
		<tr>
			<th id="thCue">CUE</th>
			<th>Establecimiento</th>
			<th>Estados</th>
			<th class="actions">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for est in objects %}
			<tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
				<td><!-- {{ est.dependencia_funcional.jurisdiccion.prefijo }} - -->{{ est.cue }}</td>
				<td>{{ est.nombre }}</td>
				<td>
				{% for registro_estado in est.registro_estados %}
					<p>{{ registro_estado.fecha|date:"d/m/Y" }} - <strong>{{ registro_estado.estado.nombre }}</strong></p>
				{% endfor %}
				</td>
				<td class="actions-td">
					<ul>
                        {% if user_perfil.rol.nombre in 'Referente,AdminSistema' %}
						    {% if est.estado_actual == 'Pendiente' %}
						    <li class="edit"><a href="{% url registro.views.establecimiento.edit est.id %}" title="Editar"><span>Editar</span></a></li>
						    {% endif %}
						    {% if est.isDeletable %}
						    <li class="delete"><a href="{% url registro.views.establecimiento.delete est.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
						    {% endif %}
                        {% endif %}
                        {% if user_perfil.rol.nombre in 'AdminTitulos,AdminSistema' %}
						    <li><a href="{% url registro.views.establecimiento.registrar est.id %}" title="Registrar">Registrar</a></li>
                        {% endif %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message warning">
	<p>No se encontraron establecimientos.</p>
</div>
{% endif %}
{% if user_perfil.rol.nombre in 'Referente,AdminSistema,RectorDirectorIFD,SecretarioIFD' %}
<ul class="actions">
	<li class="create">
		<a href="{% url registro.views.establecimiento.create %}"><span>Nuevo establecimiento</span></a>
	</li>
</ul>
{% endif %}
<hr />
{% endblock %}
