<div class="form tabbed-form" id="establecimientoVer">
	<h4>Fecha de Solicitud de Registro: {{ establecimiento.get_fecha_solicitud }}</h4>
	<div class="ver-dato">
	    <p><strong>Dependencia Funcional:</strong> {{ establecimiento.dependencia_funcional }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>CUE:</strong> {{ establecimiento.codigo_jurisdiccion }}{{ establecimiento.cue }}{{ establecimiento.codigo_tipo_unidad_educativa }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Nombre:</strong> {{ establecimiento.nombre }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Unidad Académica:</strong> {% if  establecimiento.unidad_academica %}Sí{% else %}No{% endif %}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Nombre de la Unidad Académica:</strong> {{ establecimiento.nombre_unidad_academica|default:"---" }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>¿Posee Subsidio?:</strong> {{ establecimiento.subsidio }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Año de Creación:</strong> {{ establecimiento.anio_creacion }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Origen de la Norma:</strong> {{ establecimiento.tipo_normativa }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Tipo de Norma:</strong> {{ establecimiento.tipo_norma }} - {{ establecimiento.tipo_norma_otra }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Número de la Norma:</strong> {{ establecimiento.norma_creacion }}</p>
	</div>
	<div class="ver-dato">
	    <p><strong>Observaciones:</strong> {{ establecimiento.observaciones }}</p>
	</div>
    {% if 'reg_establecimiento_verificar_datos' in credenciales %}
    <div class="ver-dato datos-verificados">
        <p><strong>Datos Verificados:</strong> {% if establecimiento.verificado %}Sí{% else %}No{% endif %}</p>
    </div>
    {% endif %}
    </form>

</div>
