{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Ingresar al sistema</h2>
{% include "flashes.html" %}
<div class="form" id="loginForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_documento.errors }}
			<label for="id_tipo_documento">Tipo de documento:</label>
			{{ form.tipo_documento }}
		</div>
		<div class="form-text">
			{{ form.documento.errors }}
			<label for="id_documento">Documento:</label>
			{{ form.documento }}
		</div>
		<div class="form-text">
			{{ form.password.errors }}
			<label for="id_password">Contraseña:</label>
			{{ form.password }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Acceder" />
		</div>
	</form>
</div>
<div id="spreadFirefox">
	<div id="firefoxButton">
		<a href='http://www.mozilla.org/firefox?WT.mc_id=aff_en03&WT.mc_ev=click' target="_blank">
			<img src='http://www.mozilla.org/contribute/buttons/110x32arrow_r.png' alt='Firefox Download Button' border='0' />
		</a>
	</div>
	<p>Recomendamos utilizar el navegador web de software libre y gratuito <a href="http://mozilla.com" target="_blank">Mozilla Firefox &copy;</a> para tener una experiencia más avanzada en el sistema.</p>
	<hr />
</div>
{% endblock %}
