{% extends "base.html" %}

{% block title %}¿Olvidó su contraseña? Ingrese su DNI para restablecerla.{% endblock %}

{% block content %}
<h2>¿Olvidó su contraseña? Ingrese su DNI para restablecerla.</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<div class="form" id="loginForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_documento.errors }}
			<label for="id_tipo_documento">Tipo de Documento:</label>
			{{ form.tipo_documento }}
		</div>
		<div class="form-text">
			{{ form.documento.errors }}
			<label for="id_documento">Número Documento:</label>
			{{ form.documento }}
		</div>
		<div class="form-submit">
            <ul class="actions">
              <li class="back">
                <a href="{% url apps.seguridad.views.login.login %}"><span>Volver</span></a>
              </li>
              <li>
    			<input type="submit" value="Enviar" />
              </li>
            </ul>
		</div>
	</form>
</div>
{% endblock %}
