{% extends "base.html" %}

{% block title %}Recordar contraseña{% endblock %}

{% block content %}
<h2>Recordar contraseña</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<div class="form" id="loginForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.tipo_documento.errors }}
			<label for="id_tipo_documento">Tipo de documento:</label>
			{{ form.tipo_documento }}
		</div>
		<div class="form-text">
			{{ form.documento.errors }}
			<label for="id_documento">Documento:</label>
			{{ form.documento }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Recordar contraseña" />
		</div>
	</form>
</div>
{% endblock %}
