{% extends "base.html" %}

{% block title %}Recordar contraseña{% endblock %}

{% block content %}
<h2>Recordar contraseña</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<div class="form" id="loginForm">
	<form action="" method="post">{% csrf_token %}
		<div class="form-submit">
            <ul class="actions">
              <li class="back">
                <a href="{% url apps.seguridad.views.login.login %}"><span>Volver</span></a>
              </li>
            </ul>
		</div>
	</form>
</div>
{% endblock %}
