{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar de detalle de egresados{% endblock %}

{% block content %}
<h2>Administrar de detalle de egresados</h2>
{% include "titulos/egresados_establecimiento/datos_titulo.html" %}
<div class="datos-lectura">
    <p><strong>Egresados:</strong> {{ egresados.cantidad_egresados }}</p>
    <p><strong>Año:</strong> {{ egresados.anio }}</p>
</div>
{% if objects %}
<table class="hor-zebra">
  <thead>

    <tr>
      <th>Año de egreso</th>
      <th>Año de ingreso</th>
      <th>Cantidad de egresados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for detalle in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ egresados.anio }}</td>
	<td>{{ detalle.anio_ingreso }}</td>
	<td>{{ detalle.cantidad_egresados }}</td>
        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'RectorDirectorIFD' %}
		<li class="edit"><a href="{% url apps.titulos.views.egresados_establecimiento.edit_detalle detalle.id %}" title="Editar"><span>Editar</span></a></li>
	    	<li class="delete"><a href="{% url apps.titulos.views.egresados_establecimiento.eliminar_detalle detalle.id %}" title="Eliminar"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron detalles de egresados.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'RectorDirectorIFD' %}
    <li class="create">
	<a href="{% url apps.titulos.views.egresados_establecimiento.agregar_detalle egresados.id %}"><span>Nuevo detalle</span></a>
    </li>
    {% endif %}
    <li class="back">
	<a href="{% url apps.titulos.views.egresados_establecimiento.egresados_por_titulo egresados.titulo_jurisdiccional_id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
