{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar egresados{% endblock %}

{% block content %}
<h2>Administrar egresados</h2>
{% include "titulos/egresados_establecimiento/datos_titulo.html" %}
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
  <thead>

    <tr>
      <th>Año de egreso</th>
      <th>Cantidad de egresados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for dato_egresados in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ dato_egresados.anio }}</td>
	<td>{{ dato_egresados.cantidad_egresados }}</td>
        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'ReferenteInstitucional' %}
		<li class="edit"><a href="{% url apps.titulos.views.egresados_establecimiento.edit dato_egresados.id %}" title="Editar"><span>Editar</span></a></li>
		<li class="edit one-many"><a href="{% url apps.titulos.views.egresados_establecimiento.detalle dato_egresados.id %}" title="Detalle"><span>Detalle</span></a></li>
	    	<li class="delete"><a href="{% url apps.titulos.views.egresados_establecimiento.eliminar dato_egresados.id %}" title="Eliminar"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron datos de egresados para el título.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'ReferenteInstitucional' %}
    <li class="create">
	<a href="{% url apps.titulos.views.egresados_establecimiento.create titulo_jurisdiccional.id %}"><span>Nuevo</span></a>
    </li>
    {% endif %}
    <li class="back">
	<a href="{% url apps.titulos.views.egresados_establecimiento.index %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
