{% extends "base_titulos.html" %}

    {% block title %}Eliminación de datos de egresados{% endblock %}

{% block content %}
{% include "titulos/egresados_establecimiento/datos_titulo.html" %}
<div class="datos-lectura">
    <p><strong>Egresados:</strong> {{ egresados.cantidad_egresados }}</p>
    <p><strong>Año:</strong> {{ egresados.anio }}</p>
</div>
<h2>Eliminación de datos de egresados</h2>

<div class="form" id="egresadosEstablecimientoEliminarForm">
    <form action="" method="post">{% csrf_token %}
	<input type="hidden" name="egresados_establecimiento_id" value="{{ egresados_establecimiento_id }}" />
	<div class="form-submit">
	    <input type="submit" value="Eliminar" />
	</div>
    </form>
</div>

<ul class="actions">
  <li class="back">
    <a href="{% url apps.titulos.views.egresados_establecimiento.egresados_por_titulo titulo_jurisdiccional_id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
