{% extends "base_titulos.html" %}

{% block title %}Agregar egresados al título{% endblock %}

{% block content %}

<h2>Agregar egresados al título</h2>
{% include "titulos/egresados_establecimiento/datos_titulo.html" %}
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "titulos/egresados_establecimiento/form.html" %}

<ul class="actions">
    <li class="back">
        <a href="{% url apps.titulos.views.egresados_establecimiento.egresados_por_titulo titulo_jurisdiccional.id %}"><span>Volver</span></a>
    </li>
</ul>
<hr />
{% endblock %}
