{% extends "base_registro.html" %}

{% block title %}Completar Datos de Sede{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}{% css_classes "tabs-n-grid" %}{% endblock %}

{% block content %}
<h2>Completar Datos de Sede - Matrícula</h2>
<h3>{{ establecimiento.cue }} - "{{ establecimiento.nombre }}"</h3>
{% if 'reg_establecimiento_completar' in credenciales %}
<ul class="actions">
    <li class="create">
        <a href="{% url apps.registro.views.establecimiento_matricula.create establecimiento.id %}"><span>Nueva Matrícula</span></a>
    </li>
</ul>
{% endif %}
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
    <thead>
        <tr>
            <th>Mixto</th>
            <th>Año</th>
            <th>Profesorados</th>
            <th>Postítulos</th>
            <th>F. Docente</th>
            <th>Continua</th>
            <th>Tecnicaturas</th>
            <th>Total</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for matricula in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{% if matricula.mixto %}Sí{% else %}No{% endif %}</td>
                <td>{{ matricula.anio }}</td>
                <td>{% if matricula.profesorados %}{{ matricula.profesorados }}{% else %}---{% endif %}</td>
                <td>{% if matricula.postitulos %}{{ matricula.postitulos }}{% else %}---{% endif %}</td>
                <td>{% if matricula.get_formacion_docente %}{{ matricula.get_formacion_docente }}{% else %}---{% endif %}</td>
                <td>{% if matricula.get_formacion_continua %}{{ matricula.get_formacion_continua }}{% else %}---{% endif %}</td>
                <td>{% if matricula.tecnicaturas %}{{ matricula.tecnicaturas }}{% else %}---{% endif %}</td>
                <td>{% if matricula.total %}{{ matricula.total }}{% else %}---{% endif %}</td>
                <td class="actions-td">
                    <ul>
						{% if 'reg_establecimiento_completar' in credenciales %}
                        <li class="edit"><a href="{% url apps.registro.views.establecimiento_matricula.edit matricula.id %}" title="Editar"><span>Editar</span></a></li>
                        <li class="delete"><a href="{% url apps.registro.views.establecimiento_matricula.delete matricula.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
						{% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron datos.</p>
</div>
{% endif %}

{% include "registro/establecimiento/form_verificacion_datos.html" %}

<ul class="actions">
    <li class="back">
        <a href="{% url apps.registro.views.establecimiento_matricula.index %}"><span>Volver</span></a>
    </li>
</ul>

<hr />

{% endblock %}
