{% extends extend_template %}

{% block title %}Registro Federal de Instituciones y Ofertas de Formación Docente{% endblock %}

{% block content %}
<h2>Registro Federal de Instituciones y Ofertas de Formación Docente</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
<p><strong>Bienvenido/a:</strong> {{ user.nombre }}</p>
    {% if user_perfil.rol.nombre in 'ReferenteInstitucional' %}
        <div id="link-manual-institucional">
            <h4>Descargar el manual de Referente Institucional</h4>
            <a href="{{ STATIC_URL }}manuales/77d5fe3c63cab427924f7eed2db50fdf/REFFOD_Manual_Referente_Institucional_V1.pdf" target="_blank">
                <img src="{{ STATIC_URL }}img/REFFOD_Manual_Referente_Institucional_V1.png" />
            </a>
        </div>
    {% endif %}
    {% if user_perfil.rol.nombre in 'ReferenteJurisdiccional' %}
        <div id="link-manual-institucional">
            <h4>Descargar el manual de Referente Jurisdiccional</h4>
            <a href="{{ STATIC_URL }}manuales/77d5fe3c63cab427924f7eed2db50fdf/REFFOD_Manual_Referente_Jurisdiccional_V2.pdf" target="_blank">
                <img src="{{ STATIC_URL }}img/REFFOD_Manual_Referente_Jurisdiccional_V2.png" />
            </a>
        </div>
    {% endif %}
{% endblock %}
