{% extends "base_registro.html" %}

{% block title %}Administración de Unidades de Servicio{% endblock %}

{% block content %}
<h2>Administración de Unidades de Servicio</h2>

{% if 'reg_establecimiento_nueva' in credenciales or 'reg_anexo_alta' in credenciales or 'reg_extension_aulica_alta' in credenciales %}
<ul class="actions">
    {% if 'reg_establecimiento_nueva' in credenciales %}
    <li class="create">
        <a href="{% url apps.registro.views.establecimiento.create %}"><span>Nueva Sede</span></a>
    </li>
    {% endif %}
    {% if 'reg_anexo_alta' in credenciales %}
    <li class="create">
        <a href="{% url apps.registro.views.anexo.create %}"><span>Nuevo anexo</span></a>
    </li>
    {% endif %}
    {% if 'reg_extension_aulica_alta' in credenciales %}
    <li class="create">
        <a href="{% url apps.registro.views.extension_aulica.create %}"><span>Nueva Extensión Áulica</span></a>
    </li>
    {% endif %}

</ul>
{% endif %}

{% if flash %}
    {% include "flashes.html" %}
{% endif %}
{% if user_perfil.rol.nombre in 'AdminNacional' or user_perfil.rol.nombre in 'SoloConsultaNacional' or user_perfil.rol.nombre in 'ReferenteJurisdiccional' %}
<form action="" method="get">
<div class="form-filter" id="establecimientoFormFilter" style="width:800px;">
    <h3>Búsqueda avanzada</h3>
    {{ form_filters.non_field_errors }}
    <div class="form-select">
        {{ form_filters.dependencia_funcional.errors }}
        <label for="id_dependencia_funcional">Dependencia Funcional:</label>
        {{ form_filters.dependencia_funcional }}
    </div>
    <div class="form-select">
        {{ form_filters.tipo_unidad_educativa.errors }}
        <label for="id_tipo_ue">Tipo de Unidad de Servicio:</label>
        {{ form_filters.tipo_unidad_educativa }}
    </div>
    <div class="form-text">
        {{ form_filters.cue.errors }}
        <label for="id_cue">CUE:</label>
        {{ form_filters.cue }}
    </div>
    <div class="form-text">
        {{ form_filters.nombre.errors }}
        <label for="id_nombre">Nombre:</label>
        {{ form_filters.nombre }}
    </div>
    {% if user_perfil.rol.nombre in 'AdminNacional' or user_perfil.rol.nombre in 'SoloConsultaNacional' %}
    <div class="form-select">
        {{ form_filters.jurisdiccion.errors }}
        <label for="id_jurisdiccion">Jurisdicción:</label>
        {{ form_filters.jurisdiccion }}
    </div>
    {% endif %}
    <div class="form-select">
        {{ form_filters.departamento.errors }}
        <label for="id_departamento">Departamento:</label>
        {{ form_filters.departamento }}
    </div>
    <div class="form-select">
        {{ form_filters.localidad.errors }}
        <label for="id_localidad">Localidad:</label>
        {{ form_filters.localidad }}
    </div>
    <div class="form-select">
        {{ form_filters.tipo_gestion.errors }}
        <label for="id_tipo_gestion">Tipo de Gestión:</label>
        {{ form_filters.tipo_gestion }}
    </div>
    <div class="form-select">
        {{ form_filters.estado.errors }}
        <label for="id_estado">Estado:</label>
        {{ form_filters.estado }}
    </div>

    <div class="form-submit">
        <input type="submit" value="Buscar" />
        <input type="button" value="Reiniciar" onclick="window.location = 'unidades_educativas';" />
    </div>
</div>
{% endif %}

{% if objects %}
{% include "counter.html" %}
<ul class="reportes-actions">
    <li class="export-csv">
    <a href="{{ export_url }}" title="Exportar resultado en formato CSV"><span>Exportar Resultado</span></a>
    </li>
</ul>
<table class="hor-zebra">
    <thead>
        <tr>
            <th id="thEstablecimientoCue">CUE</th>
            <th>Nombre</th>
            <th>Tipo de UE</th>
            {% if user_perfil.rol.nombre in 'AdminNacional' %}
            <th>Jurisdicción</th>
            {% endif %}
            <th>Departamento</th>
            <th>Localidad</th>
            <th class="th-estados">Estado</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ue in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{{ ue.cue }}</td>
                {% if 'reg_establecimiento_consulta' in credenciales or 'reg_anexo_consulta' in credenciales or 'reg_extension_aulica_consulta' in credenciales %}
                <td>
                    {% if ue.tipo_ue == 'Sede' %}
                    <a href="{% url apps.registro.views.establecimiento.ver_datos_basicos ue.id %}" title="Ver datos"><span>{{ ue.nombre }}</span></a></td>
                    {% endif %}
                    {% if ue.tipo_ue == 'Anexo' %}
                    <a href="{% url apps.registro.views.anexo.ver_datos_basicos ue.id %}" title="Ver datos"><span>{{ ue.nombre }}</span></a></td>
                    {% endif %}
                    {% if ue.tipo_ue == 'Extensión Áulica' %}
                    <a href="{% url apps.registro.views.extension_aulica.ver_datos_basicos ue.id %}" title="Ver datos"><span>{{ ue.nombre }}</span></a></td>
                    {% endif %}
                {% else %}
                <td>{{ ue.nombre }}</td>
                {% endif %}
                <td>{{ ue.tipo_ue }}</td>
                {% if user_perfil.rol.nombre in 'AdminNacional' %}
                <td>{{ ue.get_first_domicilio.localidad.departamento.jurisdiccion }}</td>
                {% endif %}
                <td>{{ ue.get_first_domicilio.localidad.departamento }}</td>
                <td>{{ ue.get_first_domicilio.localidad }}</td>
                <td>
                    <div class="estados">
                        <p class="estado-{{ ue.estado|slugify }}"><strong>{{ ue.estado }}</strong></p>
                    </div>
                </td>
                <td class="actions-td">
                    <ul>
                    {% if ue.tipo_ue == 'Sede' %}
                        {% if 'reg_establecimiento_completar' in credenciales and ue.registrado %}
                        <li class="edit"><a href="{% url apps.registro.views.establecimiento.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_editar_establecimiento_pendiente' in credenciales and ue.pendiente %}
                        <li class="edit"><a href="{% url apps.registro.views.establecimiento.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_establecimiento_baja' in credenciales and ue.isDeletable %}
                        <li class="delete"><a href="{% url apps.registro.views.establecimiento.delete ue.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                        {% endif %}
                        {% if 'reg_establecimiento_registrar' in credenciales %}
                        <li class="registrar"><a href="{% url apps.registro.views.establecimiento.registrar ue.id %}" title="Registrar"><span>Registrar</span></a></li>
                        {% endif %}
                        {% if 'reg_establecimiento_consulta' in credenciales %}
                        <li class="ver-datos"><a href="{% url apps.registro.views.establecimiento.ver_datos_basicos ue.id %}" title="Ver Datos"><span>Ver Datos</span></a></li>
                        {% endif %}

                        {% if ue.carga_certificada_anio_actual %}
                        <li class="carga-certificada" title="Carga certificada"><span>Carga certificada</span></li>
                        {% else %}
                        <li class="carga-no-certificada" title="Carga no certificada"><span>Carga no certificada</span></li>
                        {% endif %}
                    {% endif %}

                    {% if ue.tipo_ue == 'Anexo' %}
                     <ul>
                        {% if 'reg_anexo_completar' in credenciales and ue.registrado %}
                        <li class="edit"><a href="{% url apps.registro.views.anexo.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_editar_anexo_pendiente' in credenciales and ue.pendiente %}
                        <li class="edit"><a href="{% url apps.registro.views.anexo.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_anexo_aprobar_registro' in credenciales %}
                        <li class="registrar"><a href="{% url apps.registro.views.anexo.registrar ue.id %}" title="Registrar"><span>Registrar</span></a></li>
                        {% endif %}
                        {% if 'reg_anexo_baja' in credenciales and ue.is_deletable %}
                        <li class="delete"><a href="{% url apps.registro.views.anexo.delete ue.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                        {% endif %}
                        {% if 'reg_anexo_consulta' in credenciales %}
                        <li class="ver-datos"><a href="{% url apps.registro.views.anexo.ver_datos_basicos ue.id %}" title="Ver Datos"><span>Ver Datos</span></a></li>
                        {% endif %}

                        {% if ue.carga_certificada_anio_actual %}
                        <li class="carga-certificada" title="Carga certificada"><span>Carga certificada</span></li>
                        {% else %}
                        <li class="carga-no-certificada" title="Carga no certificada"><span>Carga no certificada</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}

                    {% if ue.tipo_ue == 'Extensión Áulica' %}
                    <ul>
                        {% if 'reg_extension_aulica_modificar' in credenciales and ue.registrado %}
                        <li class="edit"><a href="{% url apps.registro.views.extension_aulica.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_extension_aulica_modificar_pendiente' in credenciales and ue.pendiente %}
                        <li class="edit"><a href="{% url apps.registro.views.extension_aulica.completar_datos_basicos ue.id %}" title="Editar"><span>Editar</span></a></li>
                        {% endif %}
                        {% if 'reg_extension_aulica_aprobar_registro' in credenciales %}
                        <li class="registrar"><a href="{% url apps.registro.views.extension_aulica.registrar ue.id %}" title="Registrar"><span>Registrar</span></a></li>
                        {% endif %}

                        {% if 'reg_extension_aulica_baja' in credenciales and  ue.is_deletable %}
                        <li class="delete"><a href="{% url apps.registro.views.extension_aulica.delete ue.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                        {% endif %}

                        {% if 'reg_extension_aulica_consulta' in credenciales %}
                        <li class="ver-datos"><a href="{% url apps.registro.views.extension_aulica.ver_datos_basicos ue.id %}" title="Ver Datos"><span>Ver Datos</span></a></li>
                        {% endif %}

                        {% if ue.carga_certificada_anio_actual %}
                        <li class="carga-certificada" title="Carga certificada"><span>Carga certificada</span></li>
                        {% else %}
                        <li class="carga-no-certificada" title="Carga no certificada"><span>Carga no certificada</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron unidades educativas.</p>
</div>
{% endif %}
<hr />

<script type="text/javascript">
var dropdown_departamento = $("select#id_departamento");
var dropdown_localidad = $("select#id_localidad");
var dropdown_dependencia = $("select#id_dependencia_funcional");

$(document).ready(
    dropdown_departamento.change(function(){
        if (dropdown_departamento.val() == '') {
            dropdown_localidad.html("<option value=''>Seleccione...</option>");
        } else {
            var url = "/registro/ajax/get_localidades_por_departamento/" + $(this).val();
            $.getJSON(url, function(models){
                var options = '<option value="">Seleccione...</option>';
                for(var i = 0; i < models.length; i++){
                    options += '<option value="' + models[i].pk + '">' + models[i].fields['nombre'] + '</option>';
                }
                dropdown_localidad.html(options);
            });
        } // END if
    }) // END function
); // END document.ready

// Init

if (dropdown_departamento.val() == '') {
    dropdown_localidad.html("<option value=''>Seleccione...</option>");
} else {
    var url = "/registro/ajax/get_localidades_por_departamento/" + dropdown_departamento.val();
    $.getJSON(url, function(models) {
    var options = '<option value="">Seleccione...</option>';
    for (var i = 0; i < models.length; i++){
        options += '<option value="' + models[i].pk + '">' + models[i].fields['nombre'] + '</option>';
    }
    dropdown_localidad.html(options);
    dropdown_localidad.val(get_url_param('localidad'));

    });
}

{% if user_perfil.rol.nombre in 'AdminNacional' or user_perfil.rol.nombre in 'SoloConsultaNacional'  %}
//
//
// Admin de títulos ve todas las jurisdicciones
//
//
var dropdown_jurisdiccion = $("select#id_jurisdiccion");

if (dropdown_jurisdiccion.val() == '') {
    dropdown_departamento.html("<option value=''>Seleccione...</option>");
} else {
    var url = "/registro/ajax/get_departamentos_por_jurisdiccion/" + dropdown_jurisdiccion.val();
    $.getJSON(url, function(models) {
    var options = '<option value="">Seleccione...</option>';
    for (var i = 0; i < models.length; i++){
        options += '<option value="' + models[i].pk + '">' + models[i].fields['nombre'] + '</option>';
    }
    dropdown_departamento.html(options);
    dropdown_departamento.val(get_url_param('departamento'));
    });
}

dropdown_jurisdiccion.change(function(){
    if (dropdown_jurisdiccion.val() == '') {
    dropdown_departamento.html("<option value=''>Seleccione...</option>");
    } else {
    var url = "/registro/ajax/get_departamentos_por_jurisdiccion/" + $(this).val();
    $.getJSON(url, function(models) {
        var options = '<option value="">Seleccione...</option>';
        for (var i = 0; i < models.length; i++) {
        options += '<option value="' + models[i].pk + '">' + models[i].fields['nombre'] + '</option>';
        }
        dropdown_departamento.html(options);
    });
    }
    dropdown_departamento.change();
});
{% endif %}
</script>

{% endblock %}
