{% extends "base_registro.html" %}

{% block title %}Completar Datos de Extension Áulica{% endblock %}

{% block content %}
<h2>Completar Datos de Extension Áulica - Nueva Autoridad</h2>
<h3>{{ extension_aulica.cue }} - "{{ extension_aulica.nombre }}"</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

{% include "registro/extension_aulica/autoridades/form.html" %}

<ul class="actions">
  <li class="back">
    <a href="{% url apps.registro.views.extension_aulica.completar_contacto extension_aulica.id %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
