<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Registro Federal de Ofertas e Instituciones de Formación Docente{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" type="text/css">
	{% endblock stylesheets %}
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1><a href="/"><span>Ministerio de Educación</span></a></h1>
			<h2><span>Instituto Nacional de Formación Docente</span></h2>
		</div>	<!-- END header -->
    {% block menu %}
    <div class="nav" id="mainNav">
      <ul>
        <li><a href="{% url seguridad.views.usuario.index %}">Usuarios</a></li>
        <li><a href="{% url registro.views.establecimiento.index %}">Establecimientos</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </div>
    {% endblock %}
		<div id="content">
{% block content %}{% endblock %}
		</div> <!-- END content -->
		<div id="footer">
			<p>Ministerio de Educación | Presidencia de la Nación - {% now "Y" %}</p>
		</div> <!-- END footer -->
	</div> <!-- END wrapper -->
</body>
</html>
