<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Registro Federal de Ofertas e Instituciones de Formación Docente{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
	{% endblock stylesheets %}
	<script src="{{ STATIC_URL }}js/functions.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1><a href="/"><span>Ministerio de Educación</span></a></h1>
			<h2><span>Instituto Nacional de Formación Docente</span></h2>
			<div id="user_info">
				Usuario: {{ user.apellido }}, {{ user.nombre }}
				Perfil: {{ user_perfil.rol }} en "{{ user_perfil.ambito }}"
			</div>
		</div>	<!-- END header -->
		<div class="nav" id="mainNav">
			<ul>
				<li><a href="{% url registro.views.establecimiento.index %}">Establecimientos</a></li>
				<li><a href="{% url registro.views.anexo.index %}">Anexos</a></li>
				<li><a href="{% url registro.views.dependencia_funcional.index %}">Dependencias funcionales</a></li>
				<li id="linkAyuda"><a href="#">Ayuda</a></li>
			</ul>
		</div>
		<div id="content">
{% block content %}{% endblock %}
		</div> <!-- END content -->
		<div id="footer">
			<div>
				<p>Ministerio de Educación | Presidencia de la Nación - {% now "Y" %}</p>
			</div>
		</div> <!-- END footer -->
	</div> <!-- END wrapper -->
</body>
</html>
