{% extends "base_titulos.html" %}

{% load tags_filters %}

{% block title %}Administrar títulos{% endblock %}

{% block content %}
<h2>Administrar títulos</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}

<form action="" method="get">
<div class="form-filter" id="tituloFormFilter">
  <h3>Búsqueda avanzada</h3>
		{{ form_filters.non_field_errors }}
		<div class="form-text">
			{{ form_filters.nombre.errors }}
			<label for="id_nombre">Nombre:</label>
			{{ form_filters.nombre }}
		</div>
		<div class="form-select">
			{{ form_filters.tipo_titulo.errors }}
			<label for="id_tipo_titulo">Tipo de título:</label>
			{{ form_filters.tipo_titulo }}
		</div>
		<div class="form-select">
			{{ form_filters.jurisdiccion.errors }}
			<label for="id_jurisdiccion">Jurisdicción:</label>
			{{ form_filters.jurisdiccion }}
		</div>
		<div class="form-select">
			{{ form_filters.estado.errors }}
			<label for="id_estado">Estado:</label>
			{{ form_filters.estado }}
		</div>
		<div class="form-checkbox">
			{{ form_filters.tiene_orientaciones.errors }}
			<label for="id_tiene_orientaciones">Con orientaciones:</label>
			{{ form_filters.tiene_orientaciones }}
		</div>
		<div class="form-submit">
			<input type="submit" value="Buscar" />
			<input type="button" value="Reiniciar" onclick="window.location = 'index';" />
		</div>

</div>

{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Jurisdicciones</th>
      <th class="th-estados">Estados</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for titulo in objects %}
      <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
	<td>{{ titulo.nombre }}</td>
	<td>
	{{ titulo.jurisdicciones.all|implode:", " }}
	</td>
	<td>
	    <div class="estados">
	    {% for estado in titulo.estados %}
		<p class="estado-{{ estado.estado.nombre|slugify }}">{{ estado.fecha|date:"d/m/Y" }} - <strong>{{ estado.estado.nombre }}</strong></p>
	    {% endfor %}
	    </div>
	</td>
        <td class="actions-td">
	    <ul>
	    {% if user_perfil.rol.nombre in 'AdminTitulos' %}
		<li class="edit"><a href="{% url apps.titulos.views.titulo.edit titulo.id %}" title="Editar"><span>Editar</span></a></li>
		{% if titulo.tiene_orientaciones == 1 %}
		<li class="orientaciones"><a href="{% url apps.titulos.views.orientacion.orientaciones_por_titulo titulo.id %}" title="Orientaciones"><span>Orientaciones</span></a></li>
		{% endif %}
		<li class="delete"><a href="{% url apps.titulos.views.titulo.eliminar titulo.id %}" title="Eliminar"><span>Eliminar</span></a></li>
	    {% endif %}
	    </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
  <p>No se encontraron títulos.</p>
</div>
{% endif %}
<ul class="actions">
    {% if user_perfil.rol.nombre in 'AdminTitulos' %}
    <li class="create">
	<a href="{% url apps.titulos.views.titulo.create %}"><span>Nuevo título</span></a>
    </li>
    {% endif %}
</ul>
<hr />
{% endblock %}
