/*
 *
 * Archivo CSS principal del sistema
 *
 * @author: luciano.baraglia[at]gmail.com
 *
*/
/* RESET */
* {
	margin: 0;
	padding: 0;
}
html {
	background: url(../img/bg-10x3000.gif) repeat-x;
}

/*
=COMMON
*/
body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}
ul {
	list-style: none;
}
hr {
	clear: both;
	visibility: hidden;
}
/*
=WRAPPER
*/
div#wrapper {
	width: 990px;
	margin: 0 auto;
	background: url(../img/bg-990x3000.gif) no-repeat;
	padding-top: 20px;
}
/*
=HEADER
*/
div#header {
	width: 966px;
	height: 136px;
	margin: 0 auto;
	background: url(../img/header-01-965x136.jpg) no-repeat;
	border-bottom: 3px #000 solid;
	position: relative;
}
div#header h1 {
	width: 240px;
	height: 75px;
	position: absolute;
	top: 45px;
	left: 10px;
}
div#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
div#header h1 span,
div#header h2 span {
	display: none;
}
/*
=CONTENT
*/
div#content {
	width: 956px;
	min-height: 300px;
	margin: 10px auto;
	position: relative;
}
div#content h2 {
	margin: 25px 0 10px;
}
/*
=MAINNAV
*/
div#mainNav {
	width: 966px;
	margin: 0 auto;
	background: url(../img/bg-10x25.gif) repeat-x;
	border-top: 2px #fff solid;
}
div#mainNav ul {
  height: 25px;
}
div#mainNav ul li {
	float: left;
	padding: 5px;
	text-transform: uppercase;
	border-right: 1px #bbb solid;
}
div#mainNav ul li a:link,
div#mainNav ul li a:visited {
	color: #fff;
	text-decoration: none;
}
div#mainNav ul li a:hover {
	color: #bbb;
}
div#mainNav ul li#linkAyuda {
	float: right;
	border-right: none;
	border-left: 1px #bbb solid;
}
/*
=TAB-NAV
*/
div.tab-nav {

}
div.tab-nav ul li {
	float: left;
	background: #ccc;
	margin: 0 3px 0 0;
}
div.tab-nav ul li.active {
	background: #D6DEDE;
}
div.tab-nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
div.tab-nav ul li a:link,
div.tab-nav ul li a:visited {
	float: left;
	text-decoration: none;
	color: #555;
}
div.tab-nav ul li a:hover,
div.tab-nav ul li.active a {
	color: #000;
}
div.tab-nav ul li a span {
	display: block;
	padding: 5px 8px;
}
/*
=establecimientoCompletarDatosNav
*/
div#establecimientoCompletarDatosNav {
	margin: 25px 0 0 11px;
}
div#establecimientoCompletarDatosNav ul li {
	border-bottom: 1px #fff solid;
}
div#establecimientoCompletarDatosNav ul li.active {
	border-bottom: 1px #D6DEDE solid;
}
div#establecimientoCompletarDatosNav ul li a span {
	padding: 5px 14px;
}
/*
=tituloJurisdiccionalDatosNav
*/
div#tituloJurisdiccionalDatosNav {
	margin: 25px 0 0 11px;
}
div#tituloJurisdiccionalDatosNav ul li {
	border-bottom: 1px #fff solid;
}
div#tituloJurisdiccionalDatosNav ul li.active {
	border-bottom: 1px #D6DEDE solid;
}
div#tituloJurisdiccionalDatosNav ul li a span {
	padding: 5px 14px;
}
/*
=FOOTER
*/
div#footer {
	width: 990px;
	height: 40px;
	margin: 0 auto;
	background: url(../img/bg-footer-990x15.gif) no-repeat bottom;
	font-size: 12px;
	padding-bottom: 22px;
	color:#fff;
	text-align: center;
}
div#footer div {
	background: #000;
	width: 966px;
	height: 40px;
	padding-top: 10px;
	margin: 0 auto;
}
/*
=SPREADFIREFOX
*/
div#spreadFirefox {
	background: #DDF0F7;
	margin: 20px 0 0;
	border: 1px #C0E3F7 solid;
}
div#spreadFirefox p {
	width: 600px;
	float: left;
	margin: 10px 10px 0 0;
}
div#spreadFirefox p a:link,
div#spreadFirefox p a:visited {
	color: #AA1A1A;
	text-decoration: none;
}
div#spreadFirefox p a:hover {
	text-decoration: underline;
}
div#spreadFirefox div#firefoxButton {
	float: left;
	margin: 10px;
}
/*
=FORM
*/
div.form {
	margin: 10px 0 0;
	background: #D6DEDE;
	border: 1px #CECECE solid;
	width: 700px;
}
div.form form {
	border: 10px #fff solid;
}
div.form div {
	margin: 13px 0 0 10px;
}
div.form label {
	display: block;
	float: left;
	width: 170px;
	color: #353636;
	font-weight: bold;
}
div#content div.form form h2 {
	margin: 10px 0 0 10px;
	font-size: 14px;
}
div.form p.help-text {
	padding-left: 170px;
	color: #4E4E4E;
	font-style: italic;
	margin-bottom: 5px;
}
div.form form div {
	clear: both;
}
div.form div.form-text input,
div.form div.form-select select,
div.form div.form-textarea textarea {
	margin-top: -3px;
	width: 480px;
}
div.form div.form-text input,
div.form div.form-textarea textarea {
	border: 1px #CECECE solid;
}
div.form div.form-text input {
	padding: 2px 3px;
}
div.form div.form-submit {
	margin-bottom: 10px;
}
div.form ul.errorlist { /* Errores globales */
	color: #f00;
	margin: 10px  0 4px 180px;
}
div.form div ul.errorlist { /* Error de cada campo */
	color: #f00;
	margin: 0  0 4px 170px;
}
div.form ul.errorlist li { /* Cada error */
	padding-left: 20px;
	background: url(../img/icons/warning-16.png) no-repeat 0 -2px;
}
div.form div.form-checkbox-list {
}
div.form div.form-checkbox-list ul {
	float: left;
	margin: 10px 0 0;
}
div.form div.form-checkbox-list li {
	display: block;
	height: 20px;
}
div.form div.form-checkbox-list label {
	float: none;
	width: 100%;
}
div.form div.form-checkbox-list ul.errorlist { /* Error de cada campo */
}
/* CHECKBOX-LIST DENTRO DE UN FIELDSET */
div.form fieldset div.form-checkbox-list {
}
div.form fieldset div.form-checkbox-list ul {
	width: 480px;
	float: right;
	margin: -20px 15px 0 0;
}
div.form fieldset div.form-checkbox-list li {
	display: block;
	width: 480px;
	height: 20px;
}
div.form fieldset div.form-checkbox-list label {
	float: none;
}
div.form fieldset div.form-checkbox-list ul.errorlist { /* Error de cada campo */
	margin: 0  20px 4px 150px;
}
/* SUBFORM */
div.form fieldset {
	margin: 20px 10px 0;
	padding: 0 0 10px;
	border: 1px #868686 solid;
}
div.form fieldset legend {
	margin-left: 10px
}
div.form fieldset div.form-checkbox-list ul {
	margin-top: 0px;
}
/* =tabbed-form */
div.tabbed-form {
	margin: 40px 0 0;
}
div.tabbed-form form {
	padding: 10px 0;
}
/*
=TABLE
*/
table.hor-zebra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	margin: 45px 10px 0 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px #ccc solid;
}
table.hor-zebra th {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	text-align: center;
	border: 1px #ccc solid;
	background: #276399;
}
table.hor-zebra td {
	padding: 1px 5px;
	color: #000;
	border: 1px #ccc solid;
}
tr.hor-zebra_odd {
	background: #e8edff;
}
.hor-zebra a {
    color: #303030;
    outline-style: none;
    text-decoration: none;
    font-size: 12px;
}
.hor-zebra a:hover {
    text-decoration: underline;
}
/* ESTADOS */
p.estado-baja,
p.estado-no-vigente {
	color: #f00;
}
/* TABLE Establecimientos */
th#thEstablecimientoCue {
	width: 100px;
}
th.th-estados {
	width: 170px;
}
/* ACTIONS */
table.hor-zebra th.actions {
	width: 100px;
}
ul.actions {
	margin-top: 20px;
}
ul.actions li {
	height: 24px;
	line-height: 24px;
	float: left;
	margin: 0 10px 0 0;
}
ul.actions li a {
	display: block;
	height: 100%;
	border-right: 1px #CDE7F6 solid;
	padding: 0 10px 0 30px;
}
ul.actions a:link,
ul.actions a:visited {
	text-decoration: none;
	color: #276399;
}
ul.actions a:hover {
	text-decoration: underline;
}
/* CREATE */
ul.actions li.create {
	color: #000;
	background: #fff url(../img/icons/add.png) no-repeat left;
	position: absolute;
	top: 3px;
	right: -10px;
	padding: 3px 5px 2px;
}
ul.actions li.create a {
	border-right: none;
	padding-right: 0;
}
ul.actions li.create a:link,
ul.actions li.create a:visited {
	color: #000;
}
/* BACK */
ul.actions li.back {
	background: url(../img/icons/back.png) no-repeat left;
}
/* CHANGE-PASSWORD */
ul.actions li.change-password {
	background: #fff url(../img/icons/key.png) no-repeat left;
}
/* VER-PERFILES */
ul.actions li.ver-perfiles {
	background: #fff url(../img/icons/user.png) no-repeat left;
}
/* BLOQUEOS */
ul.actions li.bloqueos {
	background: #fff url(../img/icons/padlock_closed.png) no-repeat left;
}
/* TABLE ACTIONS */
td.actions-td {
}
td.actions-td ul li a {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	margin: 0 5px 0 0;
}
td.actions-td ul li span {
  display: none;
}
/* EDIT */
td.actions-td ul li.edit a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/edit.png) no-repeat left;
}
/* DELETE */
td.actions-td ul li.delete a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/delete.png) no-repeat left;
}
/* ORIENTACIONES */
td.actions-td ul li.orientaciones a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/arrow-branch-bgr-24-ns.png) no-repeat left;
}
/* REGISTRAR ESTABLECIMIENTO */
td.actions-td ul li.registrar_establecimiento a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/arrow_right-disabled-16x16.png) no-repeat left;
}
/*
=FORM-FILTER
*/
div.form-filter {
	margin: 10px 0 0;
	border: 1px #ceccca solid;
	width: 500px;
	background: #f2f1f0;
}
div.form-filter h3 {
	margin: 10px 0 10px 10px;
}
div.form-filter form {
}
div.form-filter div {
	margin: 13px 0 0 10px;
}
div.form-filter label {
	display: block;
	float: left;
	width: 150px;
}

div.form-filter div.form-text input,
div.form-filter div.form-select select,
div.form-filter div.form-textarea textarea {
	margin-top: -3px;
	width: 300px;
}
div.form-filter div.form-text input,
div.form-filter div.form-textarea textarea {
	border: 1px #CECECE solid;
}
div.form-filter div.form-text input {
	padding: 2px 3px;
}
div.form-filter div.form-submit {
	margin-bottom: 10px;
}
div.form-filter ul.errorlist {
	color: #f00;
	margin: 0  0 4px 150px;
}
/*
=MESSAGE
*/
div.message {
  margin: 20px 0 20px;
  padding: 10px;
}
div.warning {
  color: #fff ;
  padding-left: 40px;
  background: #F20909 url(../img/icons/warning.png) no-repeat 10px;
}
div.success {
  color: #fff;
  padding-left: 40px;
  background: #6E972E url(../img/icons/success.png) no-repeat 10px;
}
div.notice {
  color: #000;
  padding-left: 40px;
  background: #FFC140 url(../img/icons/warning.png) no-repeat 10px;
  border: 1px #FF7800 solid;
}
/*
=PAGINATOR
*/
div.paginator {
	margin: 0;
	background: #ccc;
	border-top: 1px #bbb solid;
	font-size: 12px;
}
div.paginator ul {
	padding: 5px 5px;
	margin: 0;
	float: right;
}
div.paginator ul li {
	float: left;
}
div.paginator ul li.page-number {
	margin: 0 2px 0 0;
}
div.paginator ul li.page-number input {
	width: 22px;
	height: 22px;
	background: #fff;
	border: none;
	cursor: pointer;
}
div.paginator ul li.current {
	width: 22px;
	height: 22px;
}
div.paginator ul li.current span {
	display: block;
	background: #ddd;
	width: 22px;
	text-align: center;
	padding: 5px 0 3px;
	border-bottom: 3px #666 solid;
}
div.paginator p.paginator-summary {
	margin: 8px 0 0 10px;
	float: left;
}
/*
=USERINFO
*/
div#userInfo {
	max-width: 400px;
	position: absolute;
	right: 5px;
	bottom: 10px;
}
div#userInfo ul#userLinks {
}
div#userInfo ul#userLinks li {
	float: left;
	margin: 0 5px 0 0;
	border-right: 1px #C02A19 solid;
	padding-right: 7px;
}
div#userInfo ul#userLinks li.last {
	border-right: none;
	padding-right: 0px;
}
div#userInfo ul#userLinks a:link,
div#userInfo ul#userLinks a:visited {
	font-size: 12px;
	color: #C02A19;
	text-transform: uppercase;
	text-decoration: none;
}
div#userInfo ul#userLinks a:hover {
	text-decoration: underline;
}
/*
=POPUP_SELECTOR_AMBITO
*/
div.popup_selector_ambito
{
	position: absolute;
	top:0px;
	border: 1px solid #666666;
	background-color:#F7F7F7;
	width: 600px;
	height: 400px;
	margin-top: 0px;
	display: none;
	overflow: scroll;
}
/*
=datos-lectura
*/
div.datos-lectura {
	margin: 10px 0 0;
}
div.datos-lectura p {
	margin: 5px 0 0;
}
div.datos-lectura ul {
	list-style: square;
	list-style-position: inside;
	margin: 5px 0 0;
}
div.datos-lectura ul li {
	margin: 0 0 0 1px;
}
/*
=USUARIODATA
*/
div#usuarioData {
}
div#usuarioData h3 {
	margin: 0 0 5px;
}
div#usuarioData p {
}
div#usuarioData p strong {
}
/*
=ORIENTACIONES-POR-TITULO
*/
body.orientaciones-por-titulo table.hor-zebra {
	margin-top: 10px;
}
body.orientaciones-por-titulo div#datosTitulo {
	margin-bottom: 30px;
}

