/*
 *
 * Archivo CSS principal del sistema
 *
 * @author: luciano.baraglia[at]gmail.com
 *
*/
/* RESET */
* {
	margin: 0;
	padding: 0;
}
html {
	background: url(../img/bg-10x3000.gif) repeat-x;
}

/*
=COMMON
*/
body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}
ul {
	list-style: none;
}
hr {
	clear: both;
	visibility: hidden;
}
/*
=WRAPPER
*/
div#wrapper {
	width: 990px;
	margin: 0 auto;
	background: url(../img/bg-990x3000.gif) no-repeat;
	padding-top: 20px;
}
/*
=HEADER
*/
div#header {
	width: 966px;
	height: 136px;
	margin: 0 auto;
	background: url(../img/header-01-965x136.jpg) no-repeat;
	border-bottom: 3px #000 solid;
	position: relative;
}
div#header h1 {
	width: 240px;
	height: 75px;
	position: absolute;
	top: 45px;
	left: 10px;
}
div#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
div#header h1 span,
div#header h2 span {
	display: none;
}
/*
=CONTENT
*/
div#content {
	width: 956px;
	min-height: 300px;
	margin: 10px auto;
	position: relative;
}
div#content h2 {
	margin: 25px 0 10px;
}
/*
=MAINNAV
*/
div#mainNav {
	width: 966px;
	margin: 0 auto;
	background: url(../img/bg-10x25.gif) repeat-x;
	border-top: 2px #fff solid;
}
div#mainNav ul {
  height: 25px;
}
div#mainNav ul li {
	float: left;
	padding: 5px;
	text-transform: uppercase;
	border-right: 1px #bbb solid;
}
div#mainNav ul li a:link,
div#mainNav ul li a:visited {
	color: #fff;
	text-decoration: none;
}
div#mainNav ul li a:hover {
	color: #bbb;
}
div#mainNav ul li#linkAyuda {
	float: right;
	border-right: none;
	border-left: 1px #bbb solid;
}
/*
=FOOTER
*/
div#footer {
	width: 990px;
	height: 40px;
	margin: 0 auto;
	background: url(../img/bg-footer-990x15.gif) no-repeat bottom;
	font-size: 12px;
	padding-bottom: 22px;
	color:#fff;
	text-align: center;
}
div#footer div {
	background: #000;
	width: 966px;
	height: 40px;
	padding-top: 10px;
	margin: 0 auto;
}
/*
=SPREADFIREFOX
*/
div#spreadFirefox {
	background: #DDF0F7;
	margin: 20px 0 0;
	border: 1px #C0E3F7 solid;
}
div#spreadFirefox p {
	width: 600px;
	float: left;
	margin: 10px 10px 0 0;
}
div#spreadFirefox p a:link,
div#spreadFirefox p a:visited {
	color: #AA1A1A;
	text-decoration: none;
}
div#spreadFirefox p a:hover {
	text-decoration: underline;
}
div#spreadFirefox div#firefoxButton {
	float: left;
	margin: 10px;
}
/*
=FORM
*/
div.form {
	margin: 10px 0 0;
	background: #D6DEDE;
	border: 1px #CECECE solid;
	width: 954px;
}
div.form form {
	border: 10px #fff solid;
}
div.form div {
	margin: 13px 0 0 10px;
}
div.form label {
	display: block;
	float: left;
	width: 170px;
}

div.form div.form-text input,
div.form div.form-select select,
div.form div.form-textarea textarea {
	margin-top: -3px;
	width: 738px;
}
div.form div.form-text input,
div.form div.form-textarea textarea {
	border: 1px #CECECE solid;
}
div.form div.form-text input {
	padding: 2px 3px;
}
div.form div.form-submit {
	margin-bottom: 10px;
}
div.form ul.errorlist {
	color: #f00;
	margin: 0  0 4px 170px;
}
/*
=TABLE
*/
table.hor-zebra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px 10px 0 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px #ccc solid;
}
table.hor-zebra th {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	text-align: center;
	border: 1px #ccc solid;
	background: #276399;
}
table.hor-zebra td {
	padding: 1px 3px;
	color: #000;
	border: 1px #ccc solid;
}
tr.hor-zebra_odd {
	background: #e8edff;
}
.hor-zebra a {
    color: #303030;
    outline-style: none;
    text-decoration: none;
    font-size: 12px;
}
.hor-zebra a:hover {
    text-decoration: underline;
}
/* ACTIONS */
table.hor-zebra th.actions {
	width: 80px;
}
ul.actions {
	margin-top: 20px;
}
ul.actions li {
	height: 24px;
	line-height: 24px;
	float: left;
	margin: 0 10px 0 0;
}
ul.actions li a {
	display: block;
	height: 100%;
	border-right: 1px #CDE7F6 solid;
	padding: 0 10px 0 30px;
}
ul.actions a:link,
ul.actions a:visited {
	text-decoration: none;
	color: #276399;
}
ul.actions a:hover {
	text-decoration: underline;
}
/* CREATE */
ul.actions li.create {
	color: #000;
	background: url(../img/icons/add.png) no-repeat left;
	position: absolute;
	top: 0;
	right: -5px;
}
ul.actions li.create a {
	border-right: none;
	padding-right: 0;
}
ul.actions li.create a:link,
ul.actions li.create a:visited {
	color: #000;
}
/* BACK */
ul.actions li.back {
	background: url(../img/icons/back.png) no-repeat left;
}
/* CHANGE-PASSWORD */
ul.actions li.change-password {
	background: #fff url(../img/icons/lock.png) no-repeat left;
}
ul.actions li.change-password a {
	padding-left: 25px;
}
/* TABLE ACTIONS */
td.actions-td {
}
td.actions-td ul li a {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	margin: 0 5px 0 0;
}
td.actions-td ul li span {
  display: none;
}
/* EDIT */
td.actions-td ul li.edit a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/edit.png) no-repeat left;
}
/* DELETE */
td.actions-td ul li.delete a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons/delete.png) no-repeat left;
}

/*
=FORM-FILTER
*/
div.form-filter {
	margin: 10px 0 0;
	border: 1px #ceccca solid;
	width: 500px;
	background: #f2f1f0;
}
div.form-filter h3 {
	margin: 10px 0 10px 10px;
}
div.form-filter form {
}
div.form-filter div {
	margin: 13px 0 0 10px;
}
div.form-filter label {
	display: block;
	float: left;
	width: 150px;
}

div.form-filter div.form-text input,
div.form-filter div.form-select select,
div.form-filter div.form-textarea textarea {
	margin-top: -3px;
	width: 300px;
}
div.form-filter div.form-text input,
div.form-filter div.form-textarea textarea {
	border: 1px #CECECE solid;
}
div.form-filter div.form-text input {
	padding: 2px 3px;
}
div.form-filter div.form-submit {
	margin-bottom: 10px;
}
div.form-filter ul.errorlist {
	color: #f00;
	margin: 0  0 4px 150px;
}
/*
=MESSAGE
*/
div.message {
  margin: 20px 0 20px;
  padding: 10px;
}
div.warning {
  color: #fff ;
  padding-left: 40px;
  background: #F20909 url(../img/icons/warning.png) no-repeat 10px;
}
div.success {
  color: #fff;
  padding-left: 40px;
  background: #6E972E url(../img/icons/success.png) no-repeat 10px;
}
