/*
 *
 * Archivo CSS principal del sistema
 *
 * @author: luciano.baraglia[at]gmail.com
 *
*/
div#header div#userInfo {
	display: none;
}
input#print-button {
	margin-top: 30px;
}
div#footer {
	height: 20px;
}
@media print {
	.noPrint {
		display:none;
	}
}
