{% extends "base_registro.html" %}

{% block title %}Administrar Datos de Anexo{% endblock %}

{% load tags_filters %}

{% block css_body_classes %}
{% css_classes "tabs-n-grid" %}
{% endblock %}

{% block content %}
<h2>Administrar Datos de Anexo - Domicilios</h2>
<h3>{{ anexo.cue }} - "{{ anexo.nombre }}"</h3>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}
{% if not anexo.get_verificacion_datos.completo %}
<div class="message warning">
	<p>Las solapas cuyos datos todavía no han sido verificados se verán en color rojo. Por favor, verifique los datos.</p>
</div>
{% endif %}
{% include "registro/anexo/completar_datos_nav.html" %}
<div class="grid-wrapper">
{% if objects %}
{% include "counter.html" %}
<table class="hor-zebra">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Dirección</th>
            <th>Departamento</th>
            <th>Localidad</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for dom in objects %}
            <tr class="{% cycle 'hor-zebra' 'hor-zebra_odd' %}">
                <td>{{ dom.tipo_domicilio }}</td>
                <td>{{ dom.calle }} {{ dom.altura }} ({{ dom.cp }})</td>
                <td>{{ dom.localidad.departamento }}</td>
                <td>{{ dom.localidad }}</td>
                <td class="actions-td">
                    <ul>
                        <li class="edit"><a href="{% url apps.registro.views.anexo_domicilio.edit dom.id %}" title="Editar"><span>Editar</span></a></li>
                        <li class="delete"><a href="{% url apps.registro.views.anexo_domicilio.delete dom.id %}" title="Eliminar" onclick="return confirmDelete();"><span>Eliminar</span></a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
</form>
{% else %}
<div class="message notice">
    <p>No se encontraron domicilios.</p>
</div>
{% endif %}
</div>

{% include "registro/anexo/form_verificacion_datos.html" %}

{% if 'reg_anexo_completar' in credenciales %}
<ul class="actions">
    <li class="create" style="margin-top: 30px">
        <a href="{% url apps.registro.views.anexo_domicilio.create anexo.id %}"><span>Nuevo Domicilio</span></a>
    </li>
    <li class="back">
        <a href="{% url apps.registro.views.anexo.completar_datos_basicos anexo.id %}"><span>Volver</span></a>
    </li>
</ul>
{% endif %}
<hr />

{% endblock %}
