<div class="form tabbed-form" id="solicitudForm">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.carrera_postitulo.errors }}
			<label for="id_carrera_postitulo">Carrera:</label>
			{{ form.carrera_postitulo }}
		</div>
		<div class="form-select">
			{{ form.postitulo_nacional.errors }}
			<label for="id_postitulo_nacional">Postítulo:</label>
			{{ form.postitulo_nacional }}
		</div>
		<div class="form-submit">
		{% if solicitud %}
			<input type="submit" value="Actualizar" />
		{% else %}
			<input type="submit" value="Guardar" />
		{% endif %}
		</div>
	</form>
</div>

<script type="text/javascript">
	
var dropdown_carrera = $("select#id_carrera_postitulo");
var dropdown_postitulo = $("select#id_postitulo_nacional");

var current_carrera = dropdown_carrera.val();


function carrera_change(val){
	// 	Títulos
	var url = "/postitulos/ajax/get_postitulos_por_carrera/" + val;
	$.getJSON(url, function(data){
		var options = '';
		for(var i = 0; i < data.length; i++){
			options += '<option value="' + data[i]['pk'] + '">' + data[i]['nombre'] + '</option>';
		}
		dropdown_postitulo.html(options);
	});
}
	
$(document).ready(function(){
    dropdown_carrera.change(function(){
		carrera_change($(this).val());
	}); // END function
	{% if not solicitud %}
	dropdown_postitulo.html('<option value="">---------</option>'); // Vaciar el select
	if(current_carrera != ''){
		carrera_change(dropdown_carrera.val());
	}
	{% endif %}
}); // END document.ready

// Init

</script>
