{% extends "base_titulos.html" %}

    {% block title %}Eliminación de carrera jurisdiccional{% endblock %}

{% block content %}
<h2>Eliminación de carrera jurisdiccional</h2>
{% if flash %}
    {% include "flashes.html" %}
{% endif %}


<div class="form" id="tituloEliminarForm">
    <form action="" method="post">{% csrf_token %}
	<input type="hidden" name="carrera_jurisdiccional_id" value="{{ carrera_jurisdiccional_id }}" />
	<div class="form-submit">
	    <input type="submit" value="Eliminar" />
	</div>
    </form>
</div>


<ul class="actions">
  <li class="back">
    <a href="{% url apps.titulos.views.carrera_jurisdiccional.index %}"><span>Volver</span></a>
  </li>
</ul>
<hr />
{% endblock %}
