<div class="form tabbed-form" id="carreraJurisdiccionalForm">
	{% if carrera_jurisdiccional %}
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-select">
			{{ form.cohortes_aprobadas.errors }}
			<label for="id_cohortes_aprobadas">Cohortes aprobadas:</label>
			{{ form.cohortes_aprobadas }}
		</div>
		<div class="form-select">
			{{ form.anio_primera_cohorte.errors }}
			<label for="id_anio_primera_cohorte">Año primera cohorte:</label>
			{{ form.anio_primera_cohorte }}
		</div>
		<div class="form-select">
			<label for="id_anio_ultima_cohorte">Año última cohorte:</label>
			<input type="text" readonly="readonly" value="" name="anio_ultima_cohorte" id ="id_anio_ultima_cohorte" />
		</div>
		<div class="form-textarea">
			{{ form.observaciones.errors }}
			<label for="id_observaciones">Observaciones:</label>
			{{ form.observaciones }}
		</div>
		<div class="form-submit">
		{% if anexo %}
			<input type="submit" value="Actualizar" />
		{% else %}
			<input type="submit" value="Guardar" />
		{% endif %}
		</div>
	</form>
	{% else %}
	<form action="">
		<div class="message">
			<p>Debe guardar los datos básicos antes de poder editar las cohortes.</p>
		</div>
	</form>
	{% endif %}
</div>
<script>
var dropdown_cantidad = $("select#id_cohortes_aprobadas");
var dropdown_primera = $("select#id_anio_primera_cohorte");
var txt_ultima = $("input#id_anio_ultima_cohorte");

function calcular_ultima_cohorte()
{
	ultima = "";
	try
	{
		if(dropdown_cantidad.val() != "" && dropdown_primera.val() != "")
		{
			ultima = parseInt(dropdown_cantidad.val()) + parseInt(dropdown_primera.val());
		}
	}
	catch(e)
	{
	}
	txt_ultima.val(ultima);
}
$(document).ready(
	function(){
		dropdown_cantidad.change(calcular_ultima_cohorte);
		dropdown_primera.change(calcular_ultima_cohorte);
		calcular_ultima_cohorte();
	} // END function
	// Init
); // END document.ready

</script>
